/* PILLARS */
.pillars-section{
	padding-top: 65px;
	padding-bottom: 44px;

	h2{
		color:$primary;
		padding-left: 15px;
    	padding-right: 15px;
    	    margin-bottom: 61px;
	}

	.icon-container{
		border-bottom: 3px solid $white;
		padding-left: 15px;
		padding-bottom: 30px;
	}

	.content-container{
		padding-left: 10px;
		padding-right: 10px;
    	padding-top: 12px;
	}

	h5{
		color:$white;
		@extend .din;
		font-size: 1.250em;
		line-height: 1.250em;
		letter-spacing: 0.1px;
		    margin-bottom: 5px;
	}

	h4{
		color:$primary;
		font-size: 3.000em;
		line-height: 1em;
		    margin-bottom: 10px;
	}

	p{
		color:$white;
		font-size: 1.2500em;
		line-height: 1.50em;
	}
}

.video-modal-link{
	position:relative;

	&:hover{
		.play-icon{
			@include background-opacity($primary,1);
		}
	}

	.play-icon{
		@include transition(all .3s ease);
		@include background-opacity($primary,.7);
		    width: 120px;
	    height: 120px;
	    border: 2px solid $primary;
	    position: absolute;
	    top: 50%;
	    margin-top: -60px;
	    left: 50%;
	    margin-left: -60px;
    	text-align: center;

    	.fa{
    		    color: $white;
		    line-height: 120px;
		    font-size: 60px;
		    margin-left: 15px;
		    margin-top: -1px;
    	}
	}
}

/* PARTNERS */
.partners-section{
	background-color: $white;
	padding-top: 66px;
	padding-bottom: 6px;

	.container-fluid{
		position:relative;

		.arrow-line{
			width: 240px;
		    position: absolute;
		    height: 8px;
			background-color: $black;
			left: 364px;
    		top: 49px;
		}

		svg{
			position:absolute;
			left: 554px;
    		top: 25px;


			g{
				stroke:$black;
			}
		}
	}

	.partner-item{
		 margin-bottom: 52px;
	}

	h2{
		padding-left: 15px;
    	padding-right: 15px;
    	padding-bottom: 29px;
    	border-bottom: 3px solid $primary;
	}

	.partners-list{
		    padding-top: 28px;
	}

	.website-partner-link {
		&:hover{
			.image-container {
				-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    				filter: grayscale(0%);
			}
		}
	}

	.image-container {
		margin-bottom: 0;
		@extend .dib-100;
		padding-bottom: 56.25%;
		height:auto;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);
    	@include transition(all .3s ease);

		&.sister-project-image{
			width:75%;
			padding-bottom:42%;
		}

	}

	h4{
		padding-top: 11px;
		color:$primary;
		font-family: "din-2014", "Trebuchet MS", sans-serif;
		font-size: 1.250em;
		line-height: 1.200em;
		font-weight: bold;
		border-top:3px solid $primary;
	}

	.partner-content {
		margin-top: 4px;

		p{
			margin-bottom: 0;;
		}

		a{
			color:$black;
			position: relative;
			padding-left: 23px;
			@extend .dib-100;

			&:hover{
				color:$primary;
			}

			i{
				position:absolute;
				left: 0;
			    font-size: 12px;
			    top: 6px;
			}
		}
	}

	.socials{
		margin-top: 10px;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		a{
			margin-right: 10px;
			color:$black;

			&:last-child{
				margin-right: 0;
			}

			&:hover{
				color:$primary;
			}

			i{
				font-size: 22px;
			}
		}
	}
}

@include media-breakpoint-down(md){
	.pillars-section{
		h2{
			padding-left: 0;
			padding-right: 0;
		}

		.icon-container{
			padding-left: 0;
		}

		.content-container{
			padding-top: 0;
			padding-right: 0;
			padding-left: 30px;
		}
	}
}

@include media-breakpoint-only(md){
	.pillars-section{
		.col-pillar{
			margin-bottom: 30px;
			position:relative;


			&:last-child{
				margin-bottom: 0;

				&:after{
					display:none;
				}
			}

			&:after{
				content:'';
				background-color: $white;
				position:absolute;
				bottom:-10px;
				left:15px;
				right:15px;
				height:3px;
			}
		}

		.icon-container{
			width:122px;
			float:left;
			border-bottom: 0;
		}

		.content-container{
			float:right;
			@include calc("width","100% - 122px");
		}
	}

	.partners-section{

		h2{
			padding-left: 0;
    		padding-right: 0;
		}
	}
}

@include media-breakpoint-down(sm){

	.video-modal-link{

		.play-icon{
			    width: 60px;
		    height: 60px;
		    margin-top: -30px;
		    margin-left: -30px;

	    	.fa{
	    		    color: $white;
			    line-height: 60px;
			    font-size: 30px;
			   margin-left: 9px;
    			margin-top: -2px;
	    	}
		}
	}

	.pillars-section{
		padding-top: 32px;

		h2{
			margin-bottom: 58px;
		}

		.icon-container{
			padding-left: 0;
		}

		.content-container{
    		padding:16px 0 45px 0;

    		h5{
    			font-size: 1em;
    		}

    		h4{
    			margin-bottom: 11px;
    		}

    		p{
    			font-size: 1em;
    			line-height: 1.500em;
    		}
		}
	}

	.partners-section{
		padding-top: 62px;

		.container-fluid{
			.arrow-line,svg{
				display:none;
			}
		}

		h2{
			padding-left: 0;
    		padding-right: 0;
    		border-bottom: 0;
		}

		.partners-list{
			padding-top: 0;
		}

		.partner-item{
			margin-bottom: 27px;

			.website-partner-link{
				display:inline-block;
				text-align: center;
				width:100%;
			}

			h4{
				text-align: left;
			}
		}

		.image-container{
			margin-left: auto;
			margin-right: auto;
			@include calc("width","100% - 64px");
			    display: inline-block;
		}
	}
}