.archive-news-section{
	background-color: $white;
	padding-top: 41px;
	padding-bottom: 60px;

	h1{
		border-bottom: 3px solid $primary;
		padding: 0 14px 14px 14px;
    	margin-bottom: 57px;
	}

	.news-preview-full {

		&:hover{
			.image-wrapper{
				&:after{
		    		@include opacity(.7);
		    	}
			}

			.right-link{
				h4{
					color:$primary;
				}
			}
		}

		.image-container{
			height: auto;
			padding-bottom: 56%;
			
		}

		.image-wrapper{
			overflow: hidden;
			@extend .dib-100;
			border-bottom: 3px solid $primary;
			position:relative;

			&:after{
				content:'';
				position:absolute;
				background-color: $primary;
				top:0;
				left:0;
				bottom:0;
				right:0;
				z-index: 2;
				@include opacity(0);
				@include transition(all .3s ease);
			}

			&:hover{
				&:after{
		    		@include opacity(.7);
		    	}
			}
		}

		.right-link{
			@extend .dib-100;
			margin-top: -9px;

			&:hover{
				h4{
					color:$primary;
				}
			}

			h2{
				color:$primary;
				margin-bottom: 10px;
				@include transition(all .3s ease);
			}

			h4{
				color:$black;
				    margin-bottom: 10px;
				@include transition(all .3s ease);
			}
		}
	}
}

.list-masonry{
	margin-top: 23px;
    border-top: 3px solid $primary;
    padding-top: 26px;

     &.tax-archive{
     	margin-top: -60px;
     	border:0;
     }
}

.news-archive-list{
	margin-top: 30px;
}

.filter-container{
	margin-top: 8px;
	a{
		font-size: 1.500em;
		line-height: 1.250em;
		margin-left: 25px;

		&:first-child{
			margin-left: 0;
		}
	}
}

.article-preview-medium{
	    margin-bottom: 27px;
	    @extend .dib-100;

	&:hover{
		.image-wrapper {
			&:after{
	    		@include opacity(.7);
	    	}
		}

		p{
			color:$primary;
		}

		span{
			&:before{
				width:0;
				left:100%;
			}
		}
	}

	h3{
		color:$primary;
		margin-bottom: 5px;
	}

	p{
		color:$black;
		line-height: 1.250em;
		    margin-bottom: 0px;
		@include transition(all .3s ease);
	}

	span{
		line-height: 1.250em;
		color:$primary;
		position:relative;

		&:before{
			position:absolute;
			content:'';
			width:100%;
			height:1px;
			background-color: $primary;
			left: 0;
	    	bottom: 3px;
	    	@include transition(all .3s ease);
		}
	}

	.image-wrapper {
		overflow:hidden;
		border-bottom: 3px solid $primary;
		margin-bottom: 14px;

		position:relative;

		&:after{
			content:'';
			position:absolute;
			background-color: $primary;
			top:0;
			left:0;
			bottom:0;
			right:0;
			z-index: 2;
			@include opacity(0);
			@include transition(all .3s ease);
		}


		.image-container{
			height:auto;
			width:100%;
			padding-bottom: 56%;
		}
	}
}

/* SINGLE ARTICLE */
.single-article{
	background-color: $white;
	    padding-bottom: 36px;

	.container {
	    max-width: 960px;
	}

	h1{
		@extend .din;
		font-weight: 300;
		margin-bottom: 29px;
	}
	
	.article-header, .article-content, .updates{
		padding-left: 15px;
		padding-right: 15px;
	}

	.article-header-footer{
		border-bottom:3px solid $primary;
		padding-bottom: 15px;
		    margin-bottom: 26px;

		 h4{
			b,strong{
				font-weight: 400;
				color:$primary;
			}

			a{
				&:before{
					bottom:2px;
				}
			}
		}
	}

	.article-header{
		padding-top: 41px;

		.info{
			padding-top: 1px;
		}

		h2{
			margin-bottom: 16px;
		}

		

		.image-container{
			height:auto;
			padding-bottom: 56%;
			border-bottom: 3px solid $primary;
			    margin-bottom: 30px;
		}
	}

	.article-footer{
		@extend .dib-100;
		    margin-top: 28px;

		.article-share{
			@extend .dib-100;

			h4{
				@extend .dib-auto;
				 margin-right: 11px;
			}
		}
	}

	.article-follow{
		h4{
			@extend .dib-auto;
    		line-height: 32px;
		}

		.footer-right {
			float: right;
    		height: 32px;
			a{
				color:$primary;
				font-size: 2.188em;
				    height: 32px;
			    display: inline-block;
			    margin-top: -6px;
			    margin-left: 19px;

			    &:first-child{
			    	    margin-left: 10px;
			    }
			}
		}
	}

	.article-content{
		padding-bottom: 15px;

		.smaller-header{
			width:50%;
			float:right;
			padding-left: 15px;
			padding-bottom: 20px;

			.image-container{
				height:auto;
				padding-bottom: 56%;
				border-bottom: 3px solid $primary;
				margin-bottom: 10px;
			}
		}

		.article-header-footer{
			@include calc("width","50% - 15px");
			display:inline-block;
			padding-bottom: 13px;
		}
	}

	.updates{
		h2{
			border-top:3px solid $primary;
			padding-top: 29px;
    		margin-bottom: 16px;
		}
	}
}

/* ARTICLE PREVIEW SMALL */
.article-preview-small{
	margin-bottom: 20px;
	@extend .dib-100;

	&:hover{
		.image-container{
    		@include transform(scale(1.1,1.1));
    	}
		
		.info-wrapper{
	    	span{
	    		color:$primary;
	    	}
		}
	}

	.image-wrapper{
		 width: 30.5%;
		 display:inline-block;
		     overflow: hidden;
	}

	.info-wrapper{
		    width: 69.5%;
	    display: inline-block;
	    float: right;
	    padding-left: 13px;

	    h3{
	    	color:$primary;
	    	text-decoration: underline;
	    	    font-weight: 400;
	    	    margin-bottom: 4px;
	    }

	    span{
	    	color:$black;
	    	@include transition(all 2s ease);
	    	line-height: 1.250em;
	    }
	}

	.image-container{
		height:auto;
		width:100%;
		padding-bottom: 56%;
		@include transition(all 2s ease);
	}
}

@include media-breakpoint-down(md){
	.archive-news-section{

		h1{
			padding-left: 0;
			padding-right: 0;
		}

		.news-preview-full{
			.image-wrapper{
				 margin-bottom: 15px;
			}
		}

		.filter-container{
			width: 100%;
			margin-top: 11px;

			a{
				font-size: 1.250em;
			    line-height: 1.500em;
			    width: auto;
			    text-align: left;
			    clear: both;
			    float: left;
			    margin-left: 0;
			}
		}
	}

	.single-article{
		 .article-content,.article-header,.updates{
		 	padding-left: 0;
		 	padding-right: 0;
		 }

		 .article-content{
			.smaller-header{
				width: 100%;
			    float: none;
			    padding-left: 0;
			    padding-bottom: 0;
			    margin-bottom: 15px;
			}

			.article-header-footer{
				width: 100%;
			}
		}
	}

	.article-preview-small{
		.image-wrapper{
			  width: 100%;
		}

		.info-wrapper{
			width: 100%;
			padding-left: 0;
		}
	}
}

@include media-breakpoint-down(sm){
	.archive-news-section{
		padding-top: 31px;

		h1{
			    margin-bottom: 27px;


		}

		.news-preview-full{

			.right-link{
				h2{
					margin-bottom: 5px;
				}

				h4{
					    margin-bottom: -4px;
				}
			}
		}
	}

	.list-masonry{
		margin-top: 28px;
		    padding-top: 28px;
	}

	.filter-container{
		width: 100%;
		margin-top: 11px;

		a{
			font-size: 1.250em;
		    line-height: 1.500em;
		    width: auto;
		    text-align: left;
		    clear: both;
		    float: left;
		    margin-left: 0;
		}
	}

	.single-article{

		 .article-header{
		 	 padding-top: 31px;

		 	 .image-container{
		 	 	margin-bottom: 9px;
		 	 }

		 	 h2{
		 	 	line-height: 1.250em;
    			font-size: 1.500em;
    			margin-bottom: 9px;
		 	 }

		 	 .article-share{
		 	 	text-align: left !important;
    			float: left !important;
    			margin-top: 10px;
		 	 }
		 }

		 .article-header-footer{
		 	    padding-bottom: 13px;
		 }

		 h1{
		 	  margin-bottom: 15px;
		 	  color:$black;

		 	  &.article-title{
			 	font-size: 2em;
			 }
		 }


		 .article-content{

		 	.standard-txt{
		 		p{
		 			font-size: 1em;
		 			line-height: 1.875em;
		 		}

		 		>p{
		 			&:first-letter{
		 				font-size: 72px;
		 				line-height: 108px;
		 				margin-top: -27px;
    					margin-bottom: -22px;
    					text-transform: lowercase;
		 			}

		 		}

		 		>p~p{
		 			&:first-letter{
		 				font-size: 16px;
    					line-height: 30px;
    					text-transform: none;
		 			}
		 		}
		 	}
		 }

		 .article-footer{
		 	.article-follow{
		 		text-align: left !important;
    			float: left !important;
    			margin-top: 20px;
		 	}
		 }
	}
}