/* EXTRA LINKS */
.list-links{
	font-size: 1.250em;
	padding-bottom: 5px;
	padding-top: 5px;

	&.alternate{
		border-bottom: 3px solid $primary;
		a{
			span{
				color:$primary;
			}
		}
	}
	
	a{
		@extend .dib-100;
		position: relative;
		padding-left: 32px;
		margin-bottom: 6px;

		&:hover{
			padding-left: 52px;

			&:before{
				width:40px;
			}

			svg{
				left:21px;
			}
		}

		&:before{
			position:absolute;
			background-color: $primary;
			width: 19px;
			height: 3.5px;
		    content: "";
		    top: 13px;
		    left: 0;
			@include transition(all .3s ease);
		}
	}

	svg{
		position:absolute;
		left:1px;
		top: 3px;
    	font-size: 26px;
    	@include transition(all .3s ease);
	}
	
	span{
		color:$white;
	}
}

/* BTN */
.btn.btn-default{
	border:0;
	background: none;
	padding:0;
	margin: 0;
	font-size: 1.250em;
	line-height: 1.250em;
	color:$primary;
	    position: relative;
    padding-left: 29px;
    @include transition(all .3s ease);

    /*&:hover{
		padding-left: 49px;

		&:before{
			width:39px;
		}

		svg{
			left:27px;
		}
	}*/

    svg{
    	@include transition(all .3s ease);
    	position: absolute;
    	left: 7px;
    }

    &:before{
		position:absolute;
		background-color: $primary;
		width: 19px;
		height: 3.5px;
	    content: "";
	        top: 10.5px;;
    	left: -3px;
		@include transition(all .3s ease);
	}
}

.right-link{
	&:hover{
		.btn.btn-default{
			padding-left: 49px;

			&:before{
				width:39px;
			}

			svg{
				left:27px;
			}
		}
	}
}

/* LINK ALTERNATIVO */
.alternative-link{
	color:$primary;
	position:relative;
	@include transition(all .3s ease);

	&:hover{
		color:$primary;
		&:before{
			left:100%;
			width:0;
		}
	}

	&.disabled{
		color:$grey;
		pointer-events:none;

		&:before{
			display:none;
		}
	}

	&:before{
		position:absolute;
		content:'';
		width:100%;
		height:2px;
		background-color: $primary;
		left: 0;
    	bottom: 4px;
    	@include transition(all .3s ease);
	}
}

/* JUMBO */
.opening-demo{
	.jumbo{
		//height:0;
	}
}

.showingSingle{
	.jumbo{
		height:0;
	}
}

.loading{
	.jumbo{
		.image-container{
			@include transform(scale(1.25));
    		//left: -12.5%;
    		//top: -12.5%;
		}
	}
}

.jumbo{
	@include calc("height","100vh - 60px");
	@include transition(all 2s ease);
	overflow: hidden;

	.jumbo-container{
		height:100%;
		position:relative;
	}

	.image-container{
		width:100%;
		height:100%;
		@include opacity(.6);
		//background-attachment: fixed;
		position:absolute;
		z-index:1;
		@include transition(all .4s ease-in-out);
    	transform-origin: center;
		/*left:50%;
    	top: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);*/
	}

	.text-container{
		position:absolute;
		z-index:2;
		bottom: 49px;
		width:100%;

		.container-fluid{
			position:relative;

			.arrow-line{
				width:7.5px;
				position:absolute;
				height:1px;
				background-color: $white;
				left: 69px;
				bottom: -12px;
			}

			svg{
				position:absolute;
				@include transform(rotate(90deg));
				bottom: -26px;
    			left: 46px;

				g{
					stroke:$white;
				}
			}
		}
	}
	
	h1,h2{
		color:$white;
	}

	h1{
		font-size: 8.125em;
		line-height: 0.831em;
		padding-left: 30px;
   		 padding-right: 30px;

		  .line[last] { 
			    padding-left: 68px;
		   }
	}

	h2{
		font-size: 2.000em;
		@extend .din;
		line-height: 1.250em;
		padding-right: 30px;
		padding-left: 95px;
		margin-top: 12px;
	}
}





/* NEWSLETTER */
.newsletter-footer{
	position:relative;
	z-index: 0;
	@include transition(all .1s ease);
	background-color: $primary;

	.icon{
		svg{
			max-width: 60px;
		    display: inline-block;
		    height: auto;
		    margin-top: 85px;
		}
	}

	h3{
		color:$white;
		font-size: 3.000em;
		line-height: 1em;
		    margin-top: 10px;
	}

	p{
		color:$white;
		font-size: 1.500em;
		line-height: 1.250em;
		margin-top: 2px;
		margin-bottom: 12px;
	}

	.tnp-field-email{
		input{
			@include border-radius(10px);
			border:3px solid $black;
			color:$black;
			height:51px;
			line-height: 51px;
			width: 100%;
			font-size: 1.250em;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color:$grey2;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color:$grey2;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color:$grey2;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color:$grey2;
		}
	}

	.tnp-field-button{
		position:relative;
		@extend .dib-auto;

		&:hover{
			#left-arrow{
				left: -26px;
			}

			#right-arrow{
				right: -22px;
			}
		}
		
		#left-arrow{
			position:absolute;
			left: -50px;
    		top: 24px;
    		@include transition(all .3s ease);

    		g{
    			stroke:$black;
    		}
		}

		#right-arrow{
			@include transform(scale(-1, 1));
			position:absolute;
			top: 24px;
    		right: -50px;
    		@include transition(all .3s ease);

    		g{
    			stroke:$black;
    		}
		}

		input{
			border:0;
			background: none;
			color:$black;
			@extend .flectar;
			font-size: 3.000em;
			line-height: 1em;
			margin-top: 12px;
			margin-bottom: 100px;
			cursor:pointer;
		}
	}

	.newsletter-content{
		 bottom: 0;
	    position: fixed;
	    right: 0;
	    width: 100%;
	    z-index: -1;

	    .image-container{
	    	@include opacity(.6);
	    	width:100%;
	    	height:100%;
	    }

	    .text-container{
	    	position:absolute;
	    	bottom:0;
	    	left:0;
	    	right:0;
	    }
	}
}

/* PAGINATION */
.pagination{
	@extend .dib-100;
	    margin-top: 16px;

	span{
		color:$black;
	}

	a,span{
    	    margin-right: 28px;
    	font-weight: 300;
    	font-size: 1.250em;
    	line-height: 1.800em;

    	&.d-none{
    		display:inline-block !important;
    	}

    	&:last-child{
    		margin-right: 0;
    	}
    }

    a{
    	position:relative;
    	color:$primary;

    	&:hover{
			color:$primary;
			&:before{
				left:100%;
				width:0;
			}
		}

		&:before{
			position:absolute;
			content:'';
			width:100%;
			height:1px;
			background-color: $primary;
			left: 0;
	    	bottom: 3px;
	    	@include transition(all .3s ease);
		}

    	&.disabled{
    		
    		color:$grey;
    		pointer-events:none;

    		&:before{
    			display: none;
    		}
    	}
    }
}

/* ARTICLE SHARE */
.article-share{
	a{
		width:32px;
		height:32px;
		display:inline-block;
		@include border-radius(100%);
		color:$white;
		text-align:center;
		line-height: 32px;
		margin-left: 5px;
		font-size: 20px;

		&:hover{
			background-color: $primary !important;
		}

		&:first-child{
			margin-left: 0;
		}

		&.facebook{
			background-color: $fb;
		}

		&.twitter{
			background-color: $twitter;
		}

		&.linkedin{
			background-color: $linkedin;
		}
	}
}

/* COOKIE */
#cookie-notice{
	border-top:3px solid $primary;

	.cookie-notice-container{
		@extend .din;

		a{
			border:none;
			background: none;
			color:$primary;
			text-decoration:underline;
			text-transform: uppercase;
			padding:0;
			@include border-radius(0);
			text-shadow:none;
			box-shadow: none;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

@include media-breakpoint-up(md){
	.newsletter-footer{
		&.hide-on-hp{
			display:none;
		}
	}
}


@include media-breakpoint-only(md){
	.jumbo{

		.text-container{
			bottom: 46px;
		}

		h1{
    		padding-left: 0;
    		padding-right: 0;
    		font-size: 7em;

    		.line[last] { 
			    padding-left: 0;
		   }
		}
	}
}

@include media-breakpoint-down(sm){
	.list-links{
		font-size: 1em;

		a{
			margin-bottom: 5px;
		}

		span{
			line-height: 30px;
		}
	}

	.newsletter-footer{
		h3{
			font-size: 2.500em;
			margin-top: 65px;
		}

		p{
			font-size: 1.250em;
    		line-height: 1.500em;
    		margin-top: 0;
		}

		.tnp-field-email{
			input{
				font-size: 1em;
			}
		}

		.tnp-field-button{
			&:hover{
				#left-arrow{
					left: -20px;
				}

				#right-arrow{
					right: -18px;
				}
			}


			#left-arrow{
				left: -26px;
			}

			input{
				  font-size: 2.500em;
				margin-bottom: 64px;
			}

			#right-arrow{
				right: -22px;
			}
		}
	}

	.jumbo{

		.text-container{
			bottom: 46px;

			.container-fluid{
				.arrow-line{
					width: 3.0px;
					left: 22px;
				}

				svg{
					bottom: -35px;
    				left: 14px;
    				width: 20px;
				}
			}
		}

		h1{
			 font-size: 3.000em;
    		line-height: 1;
    		padding-left: 0;
    		padding-right: 0;

    		.line[last] { 
			    padding-left: 0;
		   }
		}

		h2{
			 font-size: 1.500em;
			 line-height: 1.250em;
    		padding-left: 25px;
    		padding-right: 0;
    		    margin-top: 10px;
		}
	}


	.btn{
		&.btn-default{
			font-size: 1em;
    		line-height: 1.25em;
    		padding-left: 0;
    		text-decoration: underline;

    		svg{
    			display:none;
    		}

    		&:before{
    			display:none;
    		}
		}
	}

	.pagination{
		span.d-none.d-md-block.d-lg-block{
			display:none !important;
			
		}

		span{
			margin-right: 0;
		}

		a,span{
			font-size: 1em;
			line-height: 1.5em;
		}

		a{
			width:100%;
			display:inline-block;
			margin-right: 0;
			text-decoration: underline;

			&:before{
				display:none;
			}

			&.disabled{
				text-decoration: none;
			}
		}
	}
}