.contact-page{
	padding-bottom: 57px;

	.col-content{
		border-bottom: 3px solid $primary;
		padding-bottom: 1px;
	}
}

@include media-breakpoint-down(sm){
	.contact-page{
		padding-bottom: 27px;

		.col-content{
			margin-bottom: 20px;
		}
	}
}