.demos-section{
	background-color: $white;
	padding-top: 60px;
	padding-bottom: 30px;
	@include transition(all 2s ease);
	overflow:hidden;
}


.showingSingle{
	.demos-section{
		height:0;
		padding:0;
	}
}

.demo-link{
	margin-bottom: 30px;
	@extend .dib-100;
	overflow: hidden;
    float: left;
    height: auto;
    padding-bottom: 75.5%;
    position: relative;

	.outer-container{
		@include calc("width","100% - 30px");
		 position: absolute;
    	overflow: hidden;
		@include transition(all .3s ease);
		top:15px;
		bottom:15px;
		left:15px;
		right:15px;
		background-color: $primary;
	}

	.inner-container{
		height:100%;
		position: relative;
		@extend .dib-100;
		overflow: hidden;
		
		@include transition(all .3s ease);
		float:left;
	}

    &:hover{
    	.outer-container{
    		top:0;
    		left:0;
    		right:0;
    		bottom:0;
    		background-color: $black;
    		width:100%;
    	}
    	

    	 h3{
    		color:$white;
    	}

    	.inner-container{
    		background-color: transparent;
			margin-top: 15px; 
			margin-left: 15px;
			margin-right: 15px; 
			@include calc("width","100% - 30px");		
    	}

    	.image-container{
    		@include opacity(0.5);
    		@include transform(scale(1));
    	}

    	svg{
    		path{
    			fill:$white;
    		}
    	}
    }

	 h3{
	 	color:$black;
	 	font-size: 3.000em;
	 	line-height: 1em;
	 	    margin-bottom: 2px;
	 	 @include transition(all .3s ease);
	 }

	 span{
	 	color:$white;
	 	font-size: 1.250em;
	 	line-height: 1.250em;
	 	@include transition(all .3s ease);
	 }

	 .info-container{
	 	border-top:3px solid $white;
	 	border-bottom: 3px solid $white;
	 	margin-top: 23px;
	 	    padding-top: 13px;
	 	 padding-bottom: 10px;
	 	@include transition(all .3s ease);
	 }

	.text-container,.image-container{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;

	}

	svg{
		@include transition(all .3s ease);
	}

	.image-container{
		@include opacity(0);
		@include transition(all .3s ease);
		@include transform(scale(1.2));
	}

	.text-container{
		z-index: 2;
		padding-left: 15%;
		padding-right: 15%;
		position:absolute;
		//top:50%;
		//@include vertical-align(absolute);
	}
}


/* SINGLE DEMO */




.demos-container{
	background-color: $white;
	@extend .dib-100;
	margin-bottom: -7px;

	.single-demo{
		visibility:hidden;
		position:fixed;
		//@include opacity(0);
		@include transition(all .3s ease);
		overflow:hidden;
		z-index: -1;
		width:100%;
		top:60px;
		left:0;

		/*&.opening{

			.single-demo-jumbo{
				@include calc("height","100vh - 60px");
			}
		}*/

		&.opened{
			.single-demo-jumbo{
				.text-container{
					@include opacity(1);
				}
			}
		}
	}

	.single-demo-jumbo{
		width:100%;
		@include calc("height","100vh - 60px");
		background-color: $white;

		@include transition(all 1s ease);


		.jumbo-container{
			height:100%;
			position:relative;
		}

		.image-container{
			width:100%;
			height:100%;
			@include opacity(.5);
			background-attachment: fixed;
			
		}

		.text-container{
			position:absolute;
			z-index:2;
			bottom: 0;
			top:0;
			width:100%;
			@include opacity(0);
			@include transition(all 3s ease);

			.container-fluid{
				    height: 100%;
			}

			h3{
				color:$white;
			}

			h2{
				color:$primary;
				border-top:3px solid $white;
				border-bottom: 3px solid $white;
				margin-top: 33px;
			    padding-top: 29px;
			    padding-bottom: 38px;
			    margin-bottom: 20px;
			}

			.inner-container{
				padding-left: 30px;
    			padding-right: 30px;
    			@include vertical-align(relative);
			}

			svg{
				position:absolute;
				left:50%;
				@include transform(rotate(90deg));
				margin-left: -27px;
				    bottom: 25px;

				g{
					stroke:$white;
				}

				
			}

			
		}
	}


}

.loading{
	.single-demo{
		.single-demo-jumbo{
			.image-container{
				@include transform(scale(1.25));
			}
		}
	}
}


/* CON SINGLE PAGE */
.single-demo{


	.single-demo-jumbo{
		width:100%;
		@include calc("height","100vh - 60px");
		background-color: $white;
		@include transition(all 1s ease);

		.jumbo-container{
			height:100%;
			position:relative;
			background-color: $black;
		}

		.image-container{
			width:100%;
			height:100%;
			@include opacity(.5);
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        	filter: grayscale(100%);
			//background-attachment: fixed;
			@include transition(all .4s ease-in-out);
    		transform-origin: center;
    		overflow: hidden;
		}

		.text-container{
			position:absolute;
			z-index:2;
			bottom: 0;
			top:0;
			width:100%;
			@include transition(all 3s ease);

			.icon{
				svg{
					path{
						fill:$primary;
					}
				}
			}

			.container-fluid{
				 height: 100%;
			}

			h3{
				color:$white;
			}

			h2{
				color:$white;
				border-top:3px solid $white;
				border-bottom: 3px solid $white;
				margin-top: 33px;
			    padding-top: 29px;
			    padding-bottom: 38px;
			    margin-bottom: 20px;
			}

			.inner-container{
				padding-left: 30px;
    			padding-right: 30px;
    			@include vertical-align(relative);
			}

			.icon{
				svg{
					path{
						fill:$white;
					}
				}
			}

			svg.arrow{
				position:absolute;
				left:50%;
				@include transform(rotate(90deg));
				margin-left: -27px;
				    bottom: 25px;

				g{
					stroke:$white;
				}
			}
		}
	}

	.section-container.standard-text-content{
		//padding-bottom: 0;
		
		.col-image{
			.image-container{
				height:auto;
				padding-bottom: 56.25%;
				border-bottom: 3px solid $primary;
				margin-bottom: 13px;
			}
		}
	}
}

@include media-breakpoint-only(md){
	.demo-link{
		padding-bottom: 100%;

		.text-container{
			padding-left: 15px;
			padding-right: 15px;
			height:auto;

			.info-container{
				display:inline-block;

				h3{
					word-break:break-word;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm){
	.demos-section{
		padding-top: 30px;
	}

	.demo-link{
		padding-bottom: initial;

		.outer-container{
			width: 100%;
    		position: relative;
    		 top: initial;
		    bottom: initial;
		    left: initial;
		    right: initial;
		}

		.info-container{
			margin-top: 35px;
    		padding-top: 15px;
    		padding-bottom: 15px;
		}

		.text-container{
		    position: relative;
		    top: auto;
		    transform: none;
		    padding:37px 10px 35px 10px;
		    margin-top: 0 !important;
		}

		span{
			font-size: 1em;
		}

		h3{
			word-break:break-word;
		}
	}


	.demos-container{
		.single-demo{
			position:absolute;
		}

		
	}
	.single-demo {
		.single-demo-jumbo{
			.text-container{
				.inner-container{
					padding-left: 0;
					padding-right: 0;
					top: auto;
				    transform: none;
				    bottom: 50px;
				    position: absolute;
				    left: 15px;
				    right: 15px;
				}

				h2{
					padding-top: 15px;
				    padding-bottom: 14px;
				    margin-bottom: 16px;
				    margin-top: 29px;
				}

				svg.arrow{
					margin-left: -15px;
    				bottom: -5px;
				    width: 20px;
				}
			}
		}
	}
}