.archive-news-section{
	&.archive-events-section {

		&.past-events{
			h1{
				    margin-bottom: 25px;
			}

			.events-masonry{
				margin-top: 0;
			    border-top: 0;
			    padding-top: 0;
			}
		}

		.news-preview-full.event-full{
			margin-bottom: 33px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		.events-masonry{
			//padding-bottom: 30px;
		}
	}
}

.single-event{
	.smaller-header{
		.list-links{
			border-top: 3px solid $primary;
			margin-top: 16px;
    		padding-top: 9px;
		}
	}
}