footer#footer{
	&.hp-only{

		padding-top: 62px;
    	border-top: 3px solid $primary;

		img{
			width:65px;
			height:44px;
			display:inline-block;
			border:1px solid $white;

			&.partner-logo{
				border: 0;
			    width: auto;
			    height: 44px;
			    margin-left: 0;
    			margin-right: 15px;
			}
		}

		p{
			margin:0;
			@include calc("width","100% - 160px");
			display:inline-block;
			font-size: 0.875em;
			color:$white;
		    float: right;
		    margin-top: 0px;
		    line-height: 1.286em;
		}
	}

	&.standard-footer{
		border-top:3px solid $primary;
		border-bottom:3px solid $primary;
		padding-bottom: 25px;
		padding-top: 30px;

		.container-fluid{
			max-width: 100%;
		}

		.footer-container {
			padding-left: 15px;
			padding-right: 15px;
		}

		.navbar-brand{
			padding: 0;
		    margin: 0;
		    float: left;
		    margin-top: 6px;
		    margin-right: 37px;

		    svg{
		    	g{
		    		fill:$primary;
		    	}
		    }
		}

		.footer-text{
			    display: inline-block;
			img{
				border: 1px solid $white;
			    width: 65px;
			    float: left;

			    &.partner-logo{
					border: 0;
				    width: auto;
				    height: 44px;
				    margin-left: 0;
    				margin-right: 15px;
				}
			}

			p{
				color:$grey;
				font-size: 0.875em;
				line-height: 1.286em;
				max-width: 560px;
				display:inline-block;
				    margin: 0;
			    margin-left: 15px;
			    margin-top: 3px;
			}
		}

		.footer-right {
			a{
				font-size: 2.188em;
				color:$white;
				margin-left: 15px;

				&:first-child{
					margin-left: 0;
				}

				&:hover{
					color:$primary;
				}
			}
		}
	}
}

@include media-breakpoint-up(md){
	footer#footer{
		&.hide-on-hp{
			display:none;
		}
	}
}

@media (max-width: 1200px){
	footer#footer{
		&.standard-footer{
			.footer-text{
				p{
					max-width: 480px;
				}
			}
		}
	}
}

@media (max-width: 1050px){
	footer#footer{
		&.standard-footer{
			.footer-text{
				p{
					max-width: 442px;
				}
			}
		}
	}
}

@include media-breakpoint-down(md){
	footer#footer{

		&.standard-footer{

			 .navbar-brand{
			 	margin-right: 15px;
			 }

			 .footer-text{

			 	p{
			 		    max-width: 305px;
			 	}
			 }
		}

		.footer-container{
			position: relative;
			padding-left: 0 !important;
			padding-right: 0 !important;

			.footer-right{
				position: absolute;
			    right: 0;
			    top: 5px;

			    a{
			    	font-size: 1.75em;
			    	margin-left: 10px;

			    	&:first-child{
			    		margin-left: 0;
			    	}
			    }
			}
		}
	}
}

@include media-breakpoint-down(sm){
	footer#footer{
		padding-top: 27px;
		padding-bottom: 20px;

	

		.footer-container{

			.footer-text{
				    margin-top: 22px;

				img{
					width:41px;

					&.partner-logo{
						height: 27px;
					}
				}

				p{
					@include calc("width","100% - 110px");
					@include calc("max-width","100% - 110px");
					float:right;
					margin-top: 0px;
					margin-left: 0;
					padding-left: 10px;
				}
			}
		}
	}
}

@include media-breakpoint-down(xs){
	footer#footer{
		.footer-container{

			.footer-text{

				p{
					width:100%;
					margin-top: 10px;
					padding-left: 0px;
				}
			}
		}
	}
}