/* GENERALI */

a {
  @include transition(all .3s ease);
  //color:$azure;

  &:hover, &:focus, &:active {
    text-decoration: none;
    //color:$hover;
  }

}

p{
  a{
    text-decoration: underline;
  }
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*:focus,*:active {
  outline: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

a {
  &:focus, &:active {
    outline: none !important;
    outline: 0 !important;
  }
}

input {
  &:focus, &:active {
    outline: none !important;
    outline: 0 !important;
  }
  outline: none !important;
  outline: 0 !important;
}

textarea {
  outline: none !important;
  outline: 0 !important;
  &:focus input[type="reset"]::-moz-focus-inner {
    outline: none !important;
    outline: 0 !important;
  }
}

input {
  &[type="button"]::-moz-focus-inner, &[type="submit"]::-moz-focus-inner {
    outline: none !important;
    outline: 0 !important;
  }
}

select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: none !important;
  outline: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}
