.loading{
	.hp-content{
		.image-container{
			@include transform(scale(1.25));
		}
	}
}

.hp-content{
	@include calc("height","100vh - 60px");
	position:relative;

    .image-container{
    	height:100%;
    	width:100%;
    	@include opacity(.6);
    	@include transition(all .4s ease-in-out);
    	position:absolute;
  
    	
    	z-index: 1;
    	transform-origin: center;
		/*left:50%;
    	top: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);*/
    }

    .col-title, .col-content{
    	max-height: 100%;
    }

    .text-container{
    	position:absolute;
    	top:0;
    	bottom:0;
    	left:0;
    	right:0;
    	z-index: 2;

    	.title-content{
    		position:relative;
    	}

    	.fake-h1{
    		padding: 30px;
    		height:auto;
    		position:absolute;
    		width:100%;
    		bottom:0px;
    		max-height: 100%;

    		#mobile-fake-h1{
    			display:none;
    		}

    		.fake-row{
    			max-height: 112px;
    			@extend .dib-100;
    			//margin-bottom: 13px;
    			position:absolute;
    			@include calc("width","100% - 60px");

    			&:last-child{
    				margin-bottom: 0;
    			}

    			svg{
    				max-height: 112px;
    				width: auto;
    				float: left;

    				&#arrow-right{
    					margin-left: -25px;
    				}

    				line,path,rect,polyline{
    					stroke:$white;
    				}
    			}
    		}
    	}
    }

	.container-fluid, .row,.title-content{
		height:100%;
	}

	h1{
		color:$white;
		font-size: 8.125em;
		line-height: 0.831em;
	}

	.main-content{
		p{
			margin:0;
			font-size: 2.000em;
			color:$white;
			line-height: 1.250em;
		}
		
		margin-bottom: 0px;
    	padding-bottom: 15px;
	}

	.col-content{
		position: relative;
		.text-content{
			position:absolute;
			 bottom: 30px;
			right: 15px;
    		left: 15px;

    		.list-links{
    			padding-top: 10px;
    			border-top: 3px solid #00ab84;
    		}
		}
	}
}

@include media-breakpoint-down(md){
	.hp-content{
		 height: auto;

		 .image-container{
		 	height:100%;
		 	position:absolute;
		 }

		 .text-container{
		 	position:relative;
		 	top: initial;
		    bottom: initial;
		    left: initial;
		    right: initial;

		    .fake-h1{
		    	width:100% !important;
		    }

		 	.col-title{
		 		@include calc("height","100vh - 60px");
		 		position:relative;
		 	}

		 	.col-content{
		 		.text-content{
		 			position:relative;
		 			bottom:initial;
		 			left:initial;
		 			right:initial;
		 			margin-left: 0;
				    width: 100%;
				    padding: 30px 0;
		 		}
		 	}
		 }
	}
}

@include media-breakpoint-down(sm){
	.hp-content{

		 .image-container{
		 	@include calc("height","100vh - 60px");
		 }

		 .text-container{

		 	.fake-h1{
	 		    padding: 15px 0;
			    height: 100%;
			    top: 0;
			    bottom: 0;

		 		.fake-row{
		 			display:none;
		 		}

		 		#mobile-fake-h1{
	    			display:block;
	    			 max-width: 100%;
				    position: absolute;
				    bottom: 30px;
				    @include calc("max-height","100% - 60px");
				    @include orizzontal-align(absolute);
	    		}
		 	}

		 	.col-content{
		 		.text-content{
		 			margin-left: -15px;
		 			@include calc("width","100% + 30px");
		 			padding:30px 15px 60px 15px;
		 			background-color: $white;
		 		}
		 	}
		 }

		.main-content{
			p{
				color:$black;
				font-size: 1.500em;
    			line-height: 1.250em;
			}
		}

		.list-links{
			border-bottom: 3px solid $primary;

			span{
				color:$primary;
			}
		}
	}
}