$step: 7;

nav.navbar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -300px;
  background: $black;
  padding: 16px 19px 16px 18px;
  @include transition(all .3s ease-in-out);
  display: initial;
  z-index: 3;

  .inner-menu-wrapper{
        @include calc("height","100% - 87px");
        overflow:hidden;
        position:absolute;
        @include calc("width","100% - 19px");
        left: 0;
        top: 60px;
      }

   .toggle-nav{
   	    padding-left: 2px;
    	@extend .dib-100;
    	    margin-bottom: 12px;
    	     position: relative;

   		span{
    		font-size: 1.500em;
    		line-height: 31px;
    		color:$white;
    	}


    	.bar{
    		height:3px;
    		    width: 36px;
    		background-color: $white;
    		position:absolute;
    		right:0;
    		@include transition( all .5s ease);
    		top: 50%;
			margin-top: -1.5px;
			right: 8px;

    		&:nth-child(1){
    			@include transform(rotate(45deg));
			    
    		}

    		&:nth-child(2){
    			width: 0px;
    		}

    		&:nth-child(3){
    			@include transform(rotate(-45deg));
    		}
    	}

    	&:hover{
			 .bar{

	    		&:nth-child(1){
	    			@include transform(rotate(-45deg));
  				  width: 20px;
            right: 6px;
            top: 22px;
	    		}

	    		&:nth-child(2){
	    			width: 27px;
	    		}

	    		&:nth-child(3){
	    			@include transform(rotate(45deg));
	    		   width: 20px;
            right: 5px;
            top: 9px;
	    		}
	    	}

    	}
   }

  .socials{
    font-size: 2.188em;
    padding-left: 42px;
    
    a{
      color:$white;
      margin-left: 15px;

      &:hover{
        color:$green;
      }

      &:first-child{
        margin-left: 0;
      }
    }
  }

  .extra-links{
    position: absolute;
    bottom: 0;
    left:18px;

    &.relative{
      position:relative;
    }

        a{
          color:$white;
          @extend .dib-100;
          margin-top: 4px;

          &:hover{
            color:$primary;
          }

          &:first-child{
            margin-top: 0;
          }

          i{
            font-size: 12px;
                margin-right: 6px;
          }

          span{
            font-size: 0.875em;
            text-decoration: underline;
          }
        }
      }


   .navbar-nav{
   		@extend .flectar;
   		border-top:3px solid $white;
   		text-align: left;
   		padding-top: 22px;
      padding-left: 15px;
      padding-bottom: 15px;

   		li{

        a{
          font-size: 3.000em;
          color:$white;
          @extend .dib-100;
          padding-bottom: 5px;
          line-height: 1.35em;
          padding-left: 27px;
          text-align: left;
          text-transform: lowercase;
          position:relative;
          @include transition(initial);
          

          &:after{
            content:'';
            height:3px;
            width:100%;
            bottom: 2px;
            left:0;
            background-color: $primary;
            position:absolute;
            @include transition(all .3s ease-in-out);
          }

          &:hover{
            color:$primary;
            padding-left: 3px;
            text-transform: capitalize;

            &:after{
              left: -18px;
            }
          }
        }

			&.current-menu-item, &.current_page_item{
				a{
					color:$primary;
					padding-left: 3px;
					text-transform: capitalize;
				}
			}

   			
   		}
   }
}


.show-nav {
	nav.navbar {
		right:0;
	}

	header.header{

    .navbar-brand{

    }

		.toggle-nav{
			@include opacity(0);
		}
	}
}

.loading{
	header.header{
		height:100%;

		.navbar-brand{
			margin-top: 0;
      margin-left: -86px;
			@include vertical-align(fixed);

      img{
        @include opacity(1);
      }

      svg {
        @include opacity(0);
      }
		}

		.toggle-nav{
			right:-115px;
		}
	}

	#site-wrapper.show-nav {
		nav.navbar {
			right: -300px;
		}
	}
}

.showingSingle,.single-news,.single-tribe_events, .single-demos{
  header.header{
    .back-btn{
      left:30px;
    }
  }
}

.loading{
  header.header{
    .back-btn{
      left: -200px !important;
    }
  }
}

header.header{
	background-color: $primary;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	height: 60px;
    padding-top: 0;
    position:fixed;
    width:100%;
    top:0;
    z-index:3;
    @include transition(all .4s ease-in-out);

    
    .container-fluid{
    	position:relative;
    	height:100%;
      max-width: 100%;
    }

    .back-btn{
      border:0;
      background: none;
      color:$black;
      position:absolute;

      font-size: 1.250em;
      line-height: 1.250em;
          margin: 0;
        padding: 0;
        left: -200px;
        top: 20px;
        padding-left: 31px;
        cursor: pointer;
        @include transition(all .4s ease-in-out);

        &:hover{
          svg{
            left:-10px;
          }
        }

      svg{
        position:absolute;
        @include transform(rotate(180deg));
            left: 0;
        @include transition(all .4s ease-in-out);

        g{
          stroke:$black;
        }
      }
    }

	.navbar-brand{
		margin:0;
		padding:0;
		//margin-top: 12px;
		@include transition(all .4s ease-in-out);
    left:50%;
        margin-left: -103px;
    position:fixed;
    top:13px;
    width:auto;
    height:32px;

    img{
      height:100%;
      width:auto;
      @include opacity(0);
      @include transition(all .4s ease-in-out);
    }

    svg {
      display: block;
      height: 33px;
      position: absolute;
      top: 0;
      left: -1px;
      @include opacity(1);
      @include transition(all .4s ease-in-out);

      path{
        fill:$white;
      }
    }
    
    @for $i from 1 to $step {
      @for $j from 1 to $step {
        path#step-#{$i}-letter-#{$j}{
          visibility:hidden;
        }
      }
    }
	}

    .toggle-nav{
    	position:absolute;
    	height:31px;
    	right:15px;
    	top: 16px;
    	padding-right: 38px;
    	letter-spacing: .3px;
    	@include transition(all .5s ease-in-out);

    	span{
    		font-size: 1.500em;
    		line-height: 31px;
    		color:$white;
    	}

    	&:hover{
        padding-right: 58px;

    		.bar {
			   width: 47px;
			 }
    	}

    	.bar{
    		height:3px;
    		width: 27px;
    		background-color: $white;
    		position:absolute;
    		right:0;
    		top:0;
    		@include transition( all .7s ease);

    		&:nth-child(2){
    			top: 14px;
    		}

    		&:nth-child(3){
    			top: 27px;
    		}
    	}
    }
}

@include media-breakpoint-down(sm){
  .loading{
    header.header{
      .navbar-brand{
        float:none;
      }
    }
  }


  header.header{
    left:0;
    .navbar-brand{
      float:left;
    }

      .toggle-nav{
        span{
          display:none;
        }
      }
  }

  nav.navbar{
    .navbar-nav{
      padding-top: 15px;
      padding-bottom: 10px;

      li{
        a{
            line-height: 1.025em;
                font-size: 2.00em;
            padding-bottom: 14px;
            margin-bottom: 6px;
            padding-left: 23px;
        }
      }
    }

    .socials{
      font-size: 1.5em;
      display: inline-block;
      padding-left: 38px;
    }
  }

  .back-btn{
    display:none !important;
  }
}