@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/font-awesome-sass/assets/stylesheets/fontawesome.scss";
@import "../../bower_components/font-awesome-sass/assets/stylesheets/brands.scss";
@import "../../bower_components/font-awesome-sass/assets/stylesheets/regular.scss";
@import "../../bower_components/font-awesome-sass/assets/stylesheets/solid.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
@import 'variables.scss';
@import 'utilities.scss';
@import 'general.scss';

$grey_border:#BDBDBD;
$secondary:$primary;

body{
	font-family: 'Lato', sans-serif;
	background-color: $secondary;
	padding-top: 30px;
	color:$black;
	padding-bottom: 30px;
	min-height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
}

#site-wrapper{
	max-width: 100%;
}

.navbar-header{
	display: flex;
    justify-content: center;
}

.navbar-brand{
	padding: 0;
	margin:0;
	line-height: 90px;
    width: 300px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    img,svg{
    	max-width:100%;
    	width:100%;
    	height:auto;
    }
}

h1{
	color:$white;
	font-weight: 900;
	font-size: 2.000em;
	line-height: 1.219em;
	margin: 0;
}

h2{
	color:$white;
	font-weight: 400;
	font-size: 1.500em;
	line-height: 1.208em;
	margin: 0;
	margin-top: 12px;
}

.newsletter-form-page{
	padding-top: 20px
}

.newsletter-block{
	margin-top: 21px;
}

.form-container{
	background-color: $white;
	width:504px;
	max-width: 100%;
	margin: 0 auto;
	padding: 17px 40px 30px 40px;
}

input[type=email]{
	width:100%;
	height: 45px;
	border:1px solid $grey_border;
	text-align: center;
}

.email-field{
	    margin-bottom: 28px;

	label{
		margin: 0;
		margin-bottom: 10px;
    	line-height: 1.188em;
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey_border;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey_border;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $grey_border;
}

.form-field{
	position:relative;
}

.tnp-privacy {
  position: absolute; // take it out of document flow
  @include opacity(0);
     top: 0px;
  width: 21px;
  height: 21px;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
       padding-left: 30px;
    color:$black;
	font-size: 1em;
 	line-height:1.188em	;

 	a{
 		color:$black;
 		text-decoration: underline;

 		&:hover{
 			color:$black;
 			text-decoration: none;
 		}
 	}

 	&:before {
	    content: '';
	    margin-right: 10px;
	    display: inline-block;
	    vertical-align: text-top;
	    width: 21px;
	    height: 21px;
	    @include border-radius(0%);
	    border:1px solid $black;
	    left: 0;
	    top: -1px;
	    position:absolute;
	    @include transition(all .3s ease);
	    background: $white;
	  }

	 &:after {
	    content: '';
	    width: 15px;
	    height: 15px;
	    @include border-radius(0%);
	    left: 3px;
	    top: 2px;
	    position:absolute;
	    @include transition(all .3s ease);
	    background: $secondary;
	    @include opacity(0);
	  }
  }

  // Box checked
  &:checked + label:after {
  	@include opacity(1);
  }
  
}

.submit-field{
	margin-top: 28px;

	input{
		width:100%;
		font-weight: 900;
		text-align: center;
		line-height: 1.188em;
		padding: 11px 0 12px;
		background: none;
		text-transform: uppercase;
		background-color: $primary;
		color:$white;
		border:1px solid $primary;
		@include transition(all .3s ease);
		cursor:pointer;

		&:hover{
			background-color: $white;
			color:$primary;
		}
	}
}

footer#footer{
	margin-top: 20px;
	p{
		margin: 0;
		color:$white;
		line-height: 1.188em;
		@extend .dib-auto;

		a{
			color:$white;

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.socials{
	@extend .dib-auto;
	height:19px;

	a{
		width:25px;
		height:25px;
		 @include border-radius(100%);
		 background-color: $white;
		 color:$primary;
		 border: 1px solid $primary;
		 display:inline-block;
		 line-height: 22px;
		 margin-left: 12px;

		&:hover{
			border-color: $white;
		}
	}
}
