html,body{
	min-height: 100%;

	&.opening{
		height:100vh;
		overflow:hidden;

		#site-wrapper{
			height:auto;
			position:absolute;
		}
	}
}

.container-fluid{
	max-width: 1600px;
}

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: $black;
  height: 100%;
}

#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  //@include transform(translate3d(0, 0, 0));
  @include transition(all .2s ease-in-out);
  //-webkit-backface-visibility: hidden;
  //backface-visibility: hidden;
  padding-top: 60px;
  background-color: $black;
  z-index: 2;

 &:before{
	 position:absolute;
	 content:'';
	 z-index:3;
	 @include transition(all .4s ease-in-out);
	 height:100%;
	 right:0;
	 top:0;
	 background-color: $black;
	 @include opacity(0);
	 left:0;
	 width:100%;
	 pointer-events:none;

  }

  &:after{
	 position:absolute;
	 content:'';
	 z-index:-2;
	 @include transition(all .5s ease-in-out);
	 height:100%;
	 right:0;
	 top:0;
	 background-color: $primary;
	 @include opacity(0);
	 left:0;
	 width:100%;
  }
}



.show-nav {
	#site-canvas {
	  //@include transform(translate3d(-300px, 0, 0));
	  margin-left: -300px;

	  &:after{
	  	z-index: 9;
	  	@include opacity(.67);
	  }
	}

	.newsletter-footer{
		height:0 !important;
	}

	.scroll-on-fixed{
		position:relative;

		.col-container{

			&.is-fixed{
				margin-left: -300px;
			}
		}
	}
}

.loading{
	#site-wrapper.show-nav {
		#site-canvas {
			//@include transform(translate3d(0, 0, 0));
			margin-left: 0px;

			&:before{
				@include opacity(1);
				height:100%;
			}

			&:after{
				@include opacity(0);
			}
		}
	}

	#site-canvas {

		&:before{
			@include opacity(1);
			height:100%;
		}
	}

	.newsletter-footer{
		height:0 !important;
	}
}

.scroll-on-fixed{
	position:relative;

	.col-container{
		//@include transition(all .3s ease);

		&.is-fixed{
			position:fixed;
			top:90px;
			left:15px;
			@include calc("width","50% - 30px");
			@include transition(margin-left .2s ease-in-out);
		}
	}
}

.standard-txt{
	> p{
		&:first-letter{
			font-size: 130px;
			line-height: 108px;
			color:$primary;
			text-transform: lowercase;
			float:left;
			margin-top: -5px;
			margin-right: 5px;
			margin-bottom: -15px;
			@extend .flectar;
		}

		~ p{
			&:first-letter{
			 	font-size: 20px;
				line-height:20px;
				color:$black;
			 	float:initial;
			 	margin:initial;
			 	@extend .din;
			 	text-transform: none;
			}
		}
	}

	p{
		font-size: 1.250em;
		line-height: 1.500em;
		color:$black;
		margin-bottom: 20px;
	}

	p + h1, p + h2, p + h3, p + h4, p + h5, p + h6{
	   margin-top: 21px;
	}

	h1,h2,h3,h4,h5,h6{
		margin-bottom: 13px;
	}

	p + .image-container, p + figure{
	      margin-top: 12px;
	}

	p:last-child{
	  margin-bottom: 0;
	}

	.image-container + p{
		margin-top: 5px;
	}

	p{

	  a{
	    text-decoration: underline;
	    color:$primary;

	    &.btn.primary{
	      text-decoration: none;
	      font-weight: 300;

	      &:hover{
	        color:$white;
	      }
	    }

	    &:hover{
	      text-decoration: none;
	      color:$hover;
	    }

	    &:active{
	      text-decoration: none;
	      color:$primary;
	    }
	  }
	}

	figure{
	  margin:0;
	  margin-top: 5px;
	  margin-bottom: 30px;
	  display:inline-block;

	  &.aligncenter,&.alignnone{
	    margin-right: 0;
	        margin-bottom: 13px;

	  	width: 100% !important;

	    .image-container, img{
	        width:100%  !important;
	    }
	  }

	  &.alignleft{
	    width: 48.5%!important;
	    float: left;
	    margin-right: 30px;
	    margin-bottom: 15px;
	        margin-top: 0;
	  }

	  &.alignright{
	    width: 48.5%!important;
	    float: right;
	    margin-left: 30px;
	    margin-bottom: 15px;
	    margin-right: 0;
	        margin-top: 0;
	  }

	  .image-container{
	        margin-bottom: 10px;
	  }

	  figcaption{
	    font-size: 14px;
	    line-height: 18px;
	    color:$grey2;
	    text-align: left;

	  }

	  &:last-child{
	    margin-bottom: 0 !important;
	  }
	}


	.image-container{
	  position:relative;

	  img{
	    &.aligncenter,&.alignnone{
	      margin-right: 0;
	      width: 100% !important;
	          margin-bottom: 13px;
	      max-width: none;
	    }

	    &.alignleft{
	     width: 48.5%!important;
	      float: left;
	      margin-right: 30px;
	      margin-bottom: 15px;
	          margin-top: 0;
	    }

	    &.alignright{
	     width: 48.5%!important;
	      float: right;
	       margin: 0 0% 15px 30px;
	    }
	  }

	  

	  &:last-child{
	    margin-bottom: 0 !important;
	  }
	}

	img{
	  width:auto !important;
	}

	ul, ol{
		&.li-with-icon{
			li{
				display: flex;
				align-items: flex-start;
				margin-bottom: 10px;

				&:last-child{
					margin-bottom: 0;
				}

				.image-container{
					position: relative;
					display: inline;
					margin-right: 20px;
					width: 100px;
					min-width: 100px;

					img{
						width: 100% !important;
						float: initial;
						margin-right: initial;
						margin-bottom: initial;
						margin-top: initial;
					}
				}

				@include media-breakpoint-down(sm){
					flex-wrap: wrap;
					
					.image-container{
						margin-right:0;
						margin-bottom: 10px;
					}

					span{
						width:100;
					}
				}
			}
		}


		li{
			

			a{
				text-decoration: underline;
				color:$primary;

				&.btn.primary{
					text-decoration: none;
					font-weight: 300;

					&:hover{
						color:$white;
					}
				}

				&:hover{
					text-decoration: none;
					color:$hover;
				}

				&:active{
					text-decoration: none;
					color:$primary;
				}
			}
		}
	}

	ul{
	  margin-bottom: 0px;
	    font-size: 1.25em;
	    line-height: 1.5em;
	    color: $black;
	    margin-top: -2px;

	   ul,ol{
	    font-size: 1em;
	    line-height: 30px;
	        margin-bottom: -1px;
    	margin-top: 1px;

    	li{
    		padding-left: 22px;

    		&:before{
    			left: -1px;
    			top: 1px;
    			color:$primary;
		      position: absolute;
		      content:'•';
		      font-size: 40px;
		      width: initial;
		    height: initial;
		    background-color: initial;
    		}
    	}
	  }


	  li{
	    padding-left: 32px;
	    margin-bottom: 1px;
	    position:relative;
	    letter-spacing: 0;

	    &:before{
	    	left: 0px;
    		top: 14px;
	      position: absolute;

	      content: "";
		    width: 20px;
		    height: 3px;
		    background-color: $primary;
	    }
	  }
	}

	ol{
	  	margin-bottom: 0px;
	    font-size: 1.25em;
	    line-height: 1.5em;
	    color: $black;
	    margin-top: -2px;


	  	counter-reset: my-badass-counter;

	  li{
	    padding-left: 32px;
	    margin-bottom: 1px;
	    position:relative;
	   letter-spacing: 0;

	    &:before{

	      left: -15px;
		  top: 2px;
		  color:$green;
	      position: absolute;
	      content: counter(my-badass-counter);
	      counter-increment: my-badass-counter;
	    }
	  }

	 ul,ol{
	    font-size: 1em;
	    line-height: 30px;
	    margin-bottom: -1px;
    	margin-top: 1px;

    	li{
    		padding-left: 22px;

    		&:before{
    			left: -1px;
    			top: 1px;
    		}

			
    	}

	  }
	}

	ul + p,ol + p{
		margin-top: 20px;
	}

	table{
		margin-bottom: 20px;
		
		td{
			padding:5px;
		}

		a{
			color:$primary;
			text-decoration: underline;
			text-decoration-color:$primary;

			&:hover{
				text-decoration-color:transparent;
			}
		}

		p{
			line-height: initial;
    		font-size: inherit;
		}
	}
}

/* PAGE CONTENT */
.page-content{
	background-color: $white;
	padding-top: 40px;
	padding-bottom: 42px;

	.txt-container{
		h1{
			border-bottom: 3px solid $primary;
			    padding-left: 15px;
			padding-right: 15px;
			padding-bottom: 14px;
			margin-bottom: 28px;
		}

		h2{
			margin-bottom: 9px;
		}

		h4{
			line-height: 1.200em;
			    margin-bottom: 8px;
		}

		.list-links{
			border-bottom:0;
			a{
				span{
					color:$black;
				}
			}
		}
	}
}

/* STANDARD PAGE CONTENT */
.standard-page-content{
	h2{
		@extend .din;
		font-size: 2.000em;
		line-height: 1.250em;
	}

	h3{
		@extend .din;
		font-size: 1.250em;
		line-height: 1.200em;
		font-weight: bold;
	}

	p{
		font-size: 1.250em;
		line-height: 1.500em;
	}

	ul,ol{
		font-size: 1.250em;
		line-height: 1.500em;

		ul,ol{
		    font-size: 1em;
		    line-height: 30px;
		}
	}


}

/* STANDARD TEXT */
.standard-text-content{
	background-color: $white;
	padding-top: 60px;
	padding-bottom: 58px;

	.col-image{
		img{
			border-bottom: 3px solid $primary;
			margin-bottom: 12px;
		}

		h3{
			@extend .din;
			font-size: 2.000em;
			line-height: 1.250em;
			padding-left: 15px;
    		padding-right: 15px;
		}
	}

	.standard-txt{



		ul,ol{
			font-size: 1.250em;
			line-height: 1.500em;

			ul,ol{
			    font-size: 1em;
			    line-height: 30px;
			}
		}

		> p{
			font-size: 1.250em;
    		line-height: 1.500em;
    		margin-bottom: 2px;

    		&:first-child{
    			&:first-letter{
    				font-size: 130px;
					line-height: 108px;
					color:$primary;
					text-transform: lowercase;
					float:left;
					margin-top: -5px;
					margin-right: 5px;
					margin-bottom: -15px;
					@extend .flectar;
    			}
    		}

			~ p{
				&:first-letter{
				 	text-transform: none;
				 }
			}
		}

		p{
    		a{
    			color:$primary;
    			text-decoration: underline;
    			text-decoration-color:$primary;

    			&:hover{
					text-decoration-color:transparent;
    			}
    		}
		}
	}
}

@media  (min-width: 1630px){
	.scroll-on-fixed{

		.col-container{

			&.is-fixed{
				@include calc("width","800px - 30px");
				@include calc("left","((100% - 1600px) / 2) + 15px");
			}
		}
	}
}

@include media-breakpoint-down(md){
	.standard-text-content{
		.col-image{
			margin-bottom: 30px;

			h3{
			    padding-left: 0;
			    padding-right: 0;
			}
		}
	}

	.scroll-on-fixed{

		.col-container{

			&.is-fixed{
				position:relative;
				top:initial !important;
				left:initial;
				width:100%;
			}
		}
	}
}

@include media-breakpoint-down(sm){
	.standard-text-content{
		padding-top: 30px;
		padding-bottom: 60px;

		.col-image{

			img{
				 margin-bottom: 10px;
			}

			h3{
				 font-size: 1.500em;
			    line-height: 1.250em;
			}
		}

		.standard-txt{
			ul,ol{
				font-size: 1em;
				line-height: 1.875em;

				ul,ol{
				    font-size: 1em;
				    line-height: 30px;
				}
			}

			p{
				font-size: 1em;
				line-height: 1.875em;

				&:first-child{
					&:first-letter{
						margin-top: -28px;
					    padding-right: 0;
					    margin-bottom: -20px;
					    font-size: 72px;
    					line-height: 108px;
    					text-transform: lowercase;
					}
				}


			}
			
			> p{

				~ p{
					&:first-letter{
					 	    font-size: 16px;
						line-height:30px;
					 }
				}

				> a{
					&:first-letter{
						color:$primary !important;
					}
				}
			}


		}

		.list-links{
			margin-top: 16px;
		}
	}

	.standard-txt{
		figure{
			&.alignleft,&.alignright{
				width:100% !important;
				margin-left: 0;
				margin-right: 0;
			}
		}

		.image-container{
			img{
				&.alignleft,&.alignright{
					width:100% !important;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	.page-content{
		.txt-container{
			h1{
				padding-left: 0;
    			padding-right: 0;
			}
		}
	}
}