.technicals-container{
	background-color: $white;
	padding-top: 41px;
    padding-bottom: 40px;

    h1{
		border-bottom: 3px solid $primary;
		padding: 0 14px 14px 14px;
    	margin-bottom: 25px;
	}

	h2{
		color:$primary;
		margin-bottom: 10px;
	}



	.technical-item{
		margin-bottom: 28px;
    	padding-bottom: 13px;
		border-bottom: 3px solid $primary;

		h3{
			margin-bottom: 4px;
			color:$primary;
		}

		p{
			margin-bottom: 3px;
			margin-top: -2px;
    		line-height: 1.250em;
		}

		span{
			&.category{
				font-weight: bold;
			}
		}

		.list-links{
			padding-top: 0;
			padding-bottom: 0;
			border:0;

			a{
				margin-bottom: 0;
			}
		}
	}

	.filter-container{
		margin-top: 9px;

		button{
			background: none;
    		border: 0;
    		padding:0;
    		cursor:pointer;
    		font-size: 1.250em;
    		line-height: 1.200em;
    		clear: both;
		    float: left;
		    margin-bottom: 12px;
		}
	}
}

@include media-breakpoint-down(md){
	.technicals-container{
		h1{
			padding-left: 0;
			padding-right: 0;
		}

		.filter-container{
			width: 100%;
			margin-bottom: 30px;
    		display: inline-block;

			a{
				font-size: 1.250em;
			    line-height: 1.500em;
			}
		}
	}
}

@include media-breakpoint-down(sm){
	.technicals-container{
		h1{
			    margin-bottom: 27px;

		}
	}
}