@font-face {
	font-family: 'Flectar Regular MacSVG';
	src: url('../webfonts/Flectar_Regular.svg#Flectar Regular Mac') format('svg');
}

@font-face {
	font-family: 'Flectar Regular MacTTF';
	src: url('../webfonts/Flectar_Regular.ttf') format('truetype');
} 

@font-face {
	font-family: 'Flectar Regular MacEOT';
	src: url('../webfonts/Flectar_Regular.eot');
} 

.flectar{
	font-family: 'Flectar Regular MacEOT', 'Flectar Regular MacTTF', 'Flectar Regular MacSVG',"Lucida Console", Monaco, monospace;
}

.din{
	font-family: "din-2014", "Trebuchet MS", sans-serif;
}

body{
	font-size: 16px;
	@extend .din;
}




h1,h2,h3,h4,h5,h6{
  margin:0;
  @extend .flectar;
}

h1{
	&.standard-title{
		font-size: 8.125em;
		line-height: 0.908em;
	}

	&.article-title{
		font-size: 3.000em;
		line-height: 1em;
	}
}

h2{
	&.fake-h1{
		font-size: 8.125em;
		line-height: 0.831em;
	}

	&.standard-title{
		 @extend .din;
		font-size: 2.000em;
		line-height: 1.250em;
	}
}

h3{
	&.fake-h2{
		font-size: 2.000em;
		 @extend .din;
		line-height: 1.250em;
	}

	&.standard-title{
		 @extend .din;
		font-size: 1.250em;
		line-height: 1.200em;
		font-weight: bold;
	}

}

h4{
	&.standard-subtitle{
		 @extend .din;
		font-size: 1.250em;
		line-height: 1.500em;
	}
}

span.swashes {
	-moz-font-feature-settings: "swsh";
	-ms-font-feature-settings: "swsh";
	-webkit-font-feature-settings: "swsh";
	font-feature-settings: "swsh";	
}

span.alternates {	
	-moz-font-feature-settings: "salt" 1;
	-ms-font-feature-settings: "salt" 1;
	-webkit-font-feature-settings: "salt" 1;
	font-feature-settings: "salt" 1;
}

span.smallcaps {
	font-variant-caps: small-caps;
	-moz-font-feature-settings: "smcp";
	-ms-font-feature-settings: "smcp";
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
}

span.capstosmallcaps {
	font-variant-caps: all-small-caps;
	-moz-font-feature-settings: "c2sc", "smcp";
	-ms-font-feature-settings: "c2sc", "smcp";
	-webkit-font-feature-settings: "c2sc", "smcp";
	font-feature-settings: "c2sc", "smcp";
}

@include media-breakpoint-down(sm){
	h1{
		&.standard-title{
			font-size: 3.000em;
    		line-height: 1em;
		}
	}

	h2{
		&.fake-h1{
			font-size: 3.000em;
    		line-height: 1em;
		}

		&.standard-title{
			font-size: 1.250em;
    		line-height: 1.200em;
		}
	}

	h3{
		&.fake-h2{
			font-size: 1.500em;
		}
	}

	h4{
		&.standard-subtitle{
			line-height: 1.250em;
    		font-size: 1em;
		}
	}
}