{% extends "base.twig" %}


{% block content %}
  
  {% block jumbo %}
    {% include 'partial/jumbo.twig' %}
  {% endblock %}

  <section class="section-container standard-text-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-image scroll-on-fixed">
          <div class="col-container">
            
            {% if post.get_field('main_video_link')  %}
              <a href="{{post.get_field('main_video_link')['url']}}" class="video-modal-link"  data-lity>
                <img src="{{TimberImage(post.get_field('main_image')).src('large')}}" />
                <div class="rounded-circle play-icon ">
                  <i class="fa fa-play"></i>
                </div><!-- play-icon -->
              </a>
            {% else %}
               <img src="{{TimberImage(post.get_field('main_image')).src('large')}}" />
            {% endif %}
           



            <h3>{{post.get_field('page_excerpt')}}</h3>
          </div><!-- col-container -->
        </div><!-- col-image -->
        <div class="col-xl-6 col-lg-6 col-content" id="col-check-height">
          <div class="standard-txt">
            {{post.content}}
          </div><!-- standard-txt -->
          {% if post.get_field("links") %}
              <div class="list-links alternate">
                {% for link in post.get_field("links") %}

                  {% set href = link.link_external %}
                  {% set target = '_blank' %}
                  {% if href == '' %}
                    {% set href = link.link_internal %}
                    {% set target = '_self' %}
                  {% endif %}
                  <a href="{{href}}" target="{{target}}">
                   <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                      <title>freccia-3px</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                              <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                  <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                  <path d="M20,10 L0,10" id="Stroke-3"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                   <span>{{link.link_text}}</span>
                  </a>
                    
                {% endfor %}
              </div><!-- list-links alternate -->
            {% endif %}
        </div><!-- col-content -->
      </div>
    </div><!-- container -->
  </section><!-- section-container -->
  
{% if post.get_field('columns') %}
 <section class="pillars-section" id="pillars">
    <div class="container-fluid">
      <h2 class="fake-h1">{{post.get_field("columns_title")}}</h2>
      <div class="row">
        {% for column in post.get_field('columns') %}
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 col-pillar">
            <div class="icon-container">
              
              <img src="{{TimberImage(column.column_image).src}}" />
            </div><!-- icon-container -->
            <div class="content-container">
              <h5>{{column.column_subtitle}}</h5>
              <h4>{{column.column_title}}</h4>
              {{column.column_text}}
            </div><!-- content-container -->
           </div><!-- col-pillar -->
        {% endfor %}
      </div><!-- row -->
    </div><!-- container-fluid -->
 </section><!-- pillars-section -->
  {% endif %}

{% if partners[0] %}
<section class="partners-section" id="partners">
  <div class="container-fluid">
    <div class="arrow-line"></div><!-- line -->
    <?xml version="1.0" encoding="UTF-8"?>
<svg width="54px" height="56px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="arrow-title">

    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-59.000000, -34.000000)" stroke="#00AB84" stroke-width="7">
            <g id="freccia-7px" transform="translate(59.000000, 37.000000)">
                <polyline id="Stroke-1" points="22 0 48.7791831 25 22 50"></polyline>
                <path d="M50,25 L0,25" id="Stroke-3"></path>
            </g>
        </g>
    </g>
</svg>
    <h2 class="fake-h1">{{post.get_field("partners_title")}}</h2>
         
              <div class="row  partners-list">
              {% for partner in partners %}
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 col-partner">
                    <div class="partner-item" >
                      <a class="website-partner-link " target="_blank" href="{{partner.get_field("website_url")}}" >
    

                         <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="false">
                            <img src="{{partner.thumbnail.src}}" />
                        </div><!-- image-container  -->

                        <h4>{{partner.title}}</h4>
                      </a>
                      <div class="partner-content ">
                         <a  href="mailto:{{partner.get_field("email")}}" target="_blank">
                          <i class="fas fa-envelope"></i>
                         <span> {{partner.content|striptags()}}</span>
                        </a>
                      </div>

                      
                    </div>
                  </div><!-- col-partner -->
              {% endfor %}
            </div><!-- row -->
         

  </div>
</section>
 {% endif %}
 {% if sister_projects[0] %}
<section class="partners-section" id="sister-projects">
  <div class="container-fluid">
    <div class="arrow-line"></div><!-- line -->
    <?xml version="1.0" encoding="UTF-8"?>
<svg width="54px" height="56px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="arrow-title">

    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-59.000000, -34.000000)" stroke="#00AB84" stroke-width="7">
            <g id="freccia-7px" transform="translate(59.000000, 37.000000)">
                <polyline id="Stroke-1" points="22 0 48.7791831 25 22 50"></polyline>
                <path d="M50,25 L0,25" id="Stroke-3"></path>
            </g>
        </g>
    </g>
</svg>
    <h2 class="fake-h1">{{post.get_field("sister_projects_title")}}</h2>
         
              <div class="row  partners-list">
              {% for partner in sister_projects %}
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 col-partner">
                    <div class="partner-item" >
                      <a class="website-partner-link " target="_blank" href="{{partner.get_field("website")}}" >
    

                         <div class="image-container imgLiquidFill imgLiquid sister-project-image" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="false">
                            <img src="{{partner.thumbnail.src}}" />
                        </div><!-- image-container  -->

                        <h4>{{partner.title}}</h4>
                      </a>
                      <div class="partner-content ">
                        {{partner.content}}
                      </div><!-- partner-content -->

                      {# if partner.get_field("socials") %}
                        <div class="socials">
                        {% for social in partner.get_field("socials") %}
                          <a  href="{{social.link['url']}}" title="{{social.icon['label']}}" target="_blank">
                            
                            <i class="fab fa-{{social.icon['value']}}"></i>
                          </a>
                        {% endfor %}
                        </div><!-- socials-inner -->
                      {% endif #}
                    </div>
                  </div><!-- col-partner -->
              {% endfor %}
            </div><!-- row -->
         

  </div>
</section>
 {% endif %}
{% endblock %}



{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {

    

  });
  </script>
{% endblock %}
