{% extends "base.twig" %}


{% block content %}




  <section class="archive-news-section">
    <div class="container-fluid">
      <h1 class="standard-title">{{options.latests_news_label}}</h1>
{% if first %}
  {% set lastItem = first|first %}


    {% set preview_class = '' %}

  {% if total == 0 %}
    {% set preview_class = 'no-past-news' %}
  {% endif %}

  <div class="news-preview-full {{preview_class}}" id="last-news" data-id="{{lastItem.id}}" href="{{lastItem.link}}">
    
     

        <div class="row">
          <div class="col-lg-6 col-md-12  col-left">
            <a  href="{{lastItem.link}}" class="image-wrapper">
              <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                <img src="{{lastItem.thumbnail.src('large' )}}" />
              </div><!-- image-container  -->
            </a><!-- image-wrapper -->
          </div><!-- col-left -->
          <div class="col-lg-6 col-md-12  col-right">
            <div class="col-right-container">
               <a  href="{{lastItem.link}}" class="right-link">
              <h2 class="standard-title">{{lastItem.title}}</h2>
              <h4 class="standard-subtitle">
               
              {% set item_cats = lastItem.terms('category') %}
              {% if item_cats %}
                
                {% for item_cat in item_cats %}
                  {{item_cat.description}}
                {% endfor %}
              {% endif %}
              - {{ lastItem.date('d M Y') }}
              
                <br/>
                  {{lastItem.get_preview(50,false,'')}}
                </h4>
                  <button  class="btn  btn-default">
                  <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                        <title>caporale-3px</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard" transform="translate(-147.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                                <g id="caporale-3px" transform="translate(148.000000, 52.000000)">
                                    <polyline id="Stroke-1" points="0 0 10.7116732 10 0 20"></polyline>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span>{{options.read_more_label}}</span>
                 </button>
              
             </a><!-- text link -->
            
            </div><!-- col-right-container -->
           
          </div><!-- col-right -->
        </div><!-- row -->
      
   
  </div><!-- news-preview-full -->
 
{% endif %}

{% if total > 0 %}
  <div class="news-masonry list-masonry">
       <div class="row">
         <div class="col-lg-6 col-md-12 ">
            <h3 class="fake-h2">{{options.recents_updates_label}}</h3>
          </div><!-- col -->
          <div class="col-lg-6 col-md-12 ">
            {% if news_category %}
                  <div class="filter-container float-right text-right">

                    {% for news_cat in news_category %}
                    <a class="alternative-link" href="{{news_cat.link}}">{{news_cat.name}}</a>
                    {% endfor %}
                  </div><!-- filter-container -->
              {% endif %}
          </div><!-- col -->
       </div><!-- row -->

      

      <div class="row news-archive-list">
        {{load_news_from_php_temporary}}
      </div><!-- row -->
      

   
  </div><!-- news-masonry -->
  <span class="ajax-url-span invisible d-none">{{adminurl}}</span>
{% endif %}
 </div><!-- container -->
 </section><!-- page-content -->


{% endblock %}

{% block prefooter %}
{% endblock %}
