{% extends "base.twig" %}


{% block content %}



  {{fn('tribe_events_before_html')}}
  {{fn('tribe_get_view')}}
  {{fn('tribe_events_after_html')}}

  {% set class = "" %}

  {% if is_past %}
    {% set class = "past-events" %}
  {% endif %}

  <section class="archive-news-section archive-events-section {{class}}">
    <div class="container-fluid">

      {% if is_past %}
        <h1 class="standard-title">{{options.recent_events_label}}</h1>
      {% else %}
         <h1 class="standard-title">{{options.upcoming_events_label}}</h1>
      {% endif %}
  

        {% if not is_past %}
          {% if posts|length > 0 %}
          {% set counter = 0 %}
          <div class="article-list">
            {% for post in posts %}
              {% set event = fn('get_post', post.id ) %}
             <div class="news-preview-full event-full" href="{{post.link}}">
              <div class="row ">
                <div class="col-lg-6 col-md-12  col-left">
                  <a  href="{{post.link}}" class="image-wrapper">
                    <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                      <img src="{{post.thumbnail.src('large' )}}" />
                    </div><!-- image-container  -->
                  </a><!-- image-wrapper -->
                </div><!-- col-left -->
                <div class="col-lg-6 col-md-12 col-right">
                  <div class="col-right-container">
                    <a  href="{{post.link}}" class="right-link">
                      <h2 class="standard-title">{{post.title}}</h2>
                      <h4 class="standard-subtitle">
                      <b>{{fn('getEventVenuePreview',post.id)}} - {{fn('getEventDatePreview',event)}}</b>
                      <br/>{{post.preview.read_more(false)}}

                      </h4>
                     <button  class="btn  btn-default">
                  <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="14px" height="24px" viewBox="0 0 14 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                        <title>caporale-3px</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Artboard" transform="translate(-147.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                                <g id="caporale-3px" transform="translate(148.000000, 52.000000)">
                                    <polyline id="Stroke-1" points="0 0 10.7116732 10 0 20"></polyline>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <span>{{options.learn_more_label}}</span>
                 </button>

                  </a><!-- text link -->
                  </div><!-- col-right-container -->
                </div><!-- col-event -->
               </div><!-- row -->
               </div><!-- news-preview-full -->
              {% set counter = counter + 1 %}
              {% if counter == 2 %}
                {% set counter = 0 %}
              {% endif %}
            {% endfor %}
          </div><!-- article-list -->
          {% else %}
              <div class="no-events-intro">
                <div class="standard-txt">
                    {{options.no_events_text}}
                  </div>
              </div><!-- no-events-intro -->
          {% endif %}
        {% endif %} 

        

        {% if past_events %}
          <div class="list-masonry events-masonry">
               <div class="row">

                  <div class="col-lg-6 col-md-12 ">
                    {% if is_past %}
                      <!--  <h3 class="fake-h2">{{options.past_event_category}} {{event_tax.name|lower}} </h3>-->
                      {% else %}
                         <h3 class="fake-h2">{{options.recent_events_label}}</h3>
                      {% endif %}
                  </div><!-- col -->
                  <div class="col-lg-6 col-md-12 ">
                    
                          <div class="filter-container float-right text-right">
                          {% if  is_past %}
                            <a class="alternative-link" href="{{events_archive_link}}">
                                {{options.upcoming_events_label}}
                            </a>
                            {% else %}
                             <a class="alternative-link" href="{{events_archive_link}}?tribe_event_display=past">
                                {{options.view_past_events_label}}
                            </a>
                          {% endif %}
                          </div><!-- filter-container -->
                      
                  </div><!-- col -->
                </div><!-- row -->

              <div class="row news-archive-list">
               
                 {{past_events}}
              </div><!-- row -->
      
          </div><!-- news-masonry -->
        {% endif %}


          



      </div><!-- container -->
    </section>
    <span class="ajax-url-span invisible d-none">{{adminurl}}</span>



{% endblock %}


{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {
   jQuery(".navbar-nav .nav-item.menu-item-67").addClass("current-menu-item");   
  });
  </script>
{% endblock %}
