{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} loading" data-template="base.twig">
		<div id="site-wrapper">
			
			{% if not newsletter_form %}

				<nav class="navbar">

						

						<a href="#" class="toggle-nav" id="close-btn">

									<span>{{options.menu_label}}</span>
									<div class="con">
								      <div class="bar arrow-top"></div>
								      <div class="bar arrow-middle"></div>
								      <div class="bar arrow-bottom"></div>
								    </div>
								</a>
								<div class="inner-menu-wrapper">
					    <ul class="navbar-nav  nav-fill  w-100">
					      {% for item in menu.items %}
							<li class="nav-item {{ item.classes|join(' ') }}">
								{% set href = item.link %}
									
								{% if 'events-archive-link' in item.classes  %}
									{% set href = events_archive_link %}
								{% endif %}

								<a class="nav-main-link" href="{{ href }}">
									{{ item.title }}
									{% set parent_url = item.link %}
									
								</a>
							</li>
						{% endfor %}
					    </ul>

					    {% if options.footer_socials %}
							<div class="socials">
							{% for social in options.footer_socials %}
								<a  class="float-left" href="{{social.social_link}}" target="_blank">
									
									<i class="fab fa-{{social.social_icon}}"></i>
								</a>
							{% endfor %}
							</div><!-- socials-inner -->
						{% endif %}

					    {% if options.extra_links %}
				        <div class="extra-links">
				          {% for button in options.extra_links %}

				            {% set href = button.external_link %}
				            {% set target = '_blank' %}
				            {% if href == '' %}
				              {% set href = button.internal_link %}
				              {% set target = '_self' %}
				            {% endif %}
				            <a href="{{href}}" target="{{target}}">
				            	<i class="fas fa-{{button.link_icon}}"></i>
				            	<span>{{button.link_text}}</span>
				            </a>
				              
				          {% endfor %}
				        </div><!-- row -->
				      {% endif %}
				      </div><!-- inner-menu-wrapper -->
				      
				</nav>
			{% endif %}

			<div id="site-canvas">
				<header class="header text-center" >
					{% block header %}


						{% if newsletter_form %}
							<div class="container">
								<div class="navbar-header text-center ">
									<a class="navbar-brand" href="{{ site.link }}" title="{{ site.title }}">
										{{options.logo_footer}}
									</a>
								</div>
							</div><!-- navbar -->
						{% else %}
							<div class="container-fluid">

								{% if is_single_demos %}
								<a class="back-to-demos-btn back-btn"  href="{{demos_archive_link}}">
									<?xml version="1.0" encoding="UTF-8"?>
										<svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					
										    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										        <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
										            <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
										                <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
										                <path d="M20,10 L0,10" id="Stroke-3"></path>
										            </g>
										        </g>
										    </g>
										</svg>
									<span>{{options.back_to_demo_label}}</span>
								</a>
			
							{% elseif is_single_news %}
								<a class=" back-btn" href="{{news_archive_link}}">
									<?xml version="1.0" encoding="UTF-8"?>
										<svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			
			
										    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										        <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
										            <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
										                <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
										                <path d="M20,10 L0,10" id="Stroke-3"></path>
										            </g>
										        </g>
										    </g>
										</svg>
									<span>{{options.latests_news_label}}</span>
								</a>
							{% elseif is_single_event %}
								<a class=" back-btn" href="{{events_archive_link}}">
									<?xml version="1.0" encoding="UTF-8"?>
										<svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			
			
										    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										        <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
										            <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
										                <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
										                <path d="M20,10 L0,10" id="Stroke-3"></path>
										            </g>
										        </g>
										    </g>
										</svg>
									<span>{{options.upcoming_events_label}}</span>
								</a>
							{% endif %}



							<a class="navbar-brand" href="{{ site.link }}">
								 <img src="{{TimberImage(options.logo).src}}" alt="{{ site.title }}" /> 
								 <svg id="bamboo" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2060 330"><title>{{ site.title }}</title>

              <path id="step-0-letter-1" data-name="b1-large" d="M733.07,162.65A85,85,0,0,0,682.76,9.09H9.53V320.91H689.84a85,85,0,0,0,43.23-158.26ZM37.87,37.44H682.76a56.7,56.7,0,0,1,0,113.39H37.87Zm652,255.12h-652V179.17h652a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

               <path id="step-0-letter-2" data-name="a" d="M910.94,6.26h-5.66a96.48,96.48,0,0,0-96.38,96.38V320.91h28.34V179.17H979V320.91h28.34V102.64A96.48,96.48,0,0,0,910.94,6.26Zm-73.7,144.57V102.64a68.11,68.11,0,0,1,68-68h5.66a68.11,68.11,0,0,1,68,68v48.19Z" fill="#00aa84"/>

               <path id="step-0-letter-3" data-name="m" d="M1271,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.29,82.29,0,0,0-82.2,82.2V320.91h28.34V88.46a53.92,53.92,0,0,1,53.86-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H1271a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,1271,6.26Z" fill="#00aa84"/>
              
               <path id="step-0-letter-4" data-name="b2" d="M1543.78,162.65A85,85,0,0,0,1493.46,9.09H1387.17V320.91h113.38a85,85,0,0,0,43.23-158.26ZM1415.51,37.44h78a56.7,56.7,0,1,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>

               <path id="step-0-letter-5" data-name="o1" d="M1721.65,6.26H1716a96.48,96.48,0,0,0-96.37,96.38V227.36A96.48,96.48,0,0,0,1716,323.74h5.67A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1716a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

               <path id="step-0-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

              <path id="step-1-letter-1" data-name="b1-large" d="M733.07,162.65A85,85,0,0,0,682.76,9.09H9.53V320.91H689.84a85,85,0,0,0,43.23-158.26ZM37.87,37.44H682.76a56.7,56.7,0,0,1,0,113.39H37.87Zm652,255.12h-652V179.17h652a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

               <path id="step-1-letter-2" data-name="a" d="M910.94,6.26h-5.66a96.48,96.48,0,0,0-96.38,96.38V320.91h28.34V179.17H979V320.91h28.34V102.64A96.48,96.48,0,0,0,910.94,6.26Zm-73.7,144.57V102.64a68.11,68.11,0,0,1,68-68h5.66a68.11,68.11,0,0,1,68,68v48.19Z" fill="#00aa84"/>

               <path id="step-1-letter-3" data-name="m" d="M1271,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.29,82.29,0,0,0-82.2,82.2V320.91h28.34V88.46a53.92,53.92,0,0,1,53.86-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H1271a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,1271,6.26Z" fill="#00aa84"/>
              
               <path id="step-1-letter-4" data-name="b2" d="M1543.78,162.65A85,85,0,0,0,1493.46,9.09H1387.17V320.91h113.38a85,85,0,0,0,43.23-158.26ZM1415.51,37.44h78a56.7,56.7,0,1,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>

               <path id="step-1-letter-5" data-name="o1" d="M1721.65,6.26H1716a96.48,96.48,0,0,0-96.37,96.38V227.36A96.48,96.48,0,0,0,1716,323.74h5.67A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1716a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

               <path id="step-1-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>


               <path id="step-2-letter-1" data-name="b1" d="M166.14,162.65A85,85,0,0,0,115.83,9.09H9.53V320.91H122.91a85,85,0,0,0,43.23-158.26ZM37.87,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>


                <path id="step-2-letter-2" data-name="a-large" d="M910.94,6.26H338.35A96.48,96.48,0,0,0,242,102.64V320.91h28.34V179.17H979V320.91h28.34V102.64A96.48,96.48,0,0,0,910.94,6.26ZM270.31,150.83V102.64a68.11,68.11,0,0,1,68-68H910.94a68.11,68.11,0,0,1,68,68v48.19Z" fill="#00aa84"/>


                <path id="step-2-letter-3" data-name="m" d="M1271,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.29,82.29,0,0,0-82.2,82.2V320.91h28.34V88.46a53.92,53.92,0,0,1,53.86-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H1271a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,1271,6.26Z" fill="#00aa84"/>


                <path id="step-2-letter-4" data-name="b2" d="M1543.78,162.65A85,85,0,0,0,1493.46,9.09H1387.17V320.91h113.38a85,85,0,0,0,43.23-158.26ZM1415.51,37.44h78a56.7,56.7,0,1,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>


                <path id="step-2-letter-5" data-name="o1" d="M1721.65,6.26H1716a96.48,96.48,0,0,0-96.37,96.38V227.36A96.48,96.48,0,0,0,1716,323.74h5.67A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1716a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                <path id="step-2-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>


                <path id="step-3-letter-1" data-name="b1" d="M166.14,162.65A85,85,0,0,0,115.83,9.09H9.53V320.91H122.91a85,85,0,0,0,43.23-158.26ZM37.87,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

                <path id="step-3-letter-2" data-name="a" d="M344,6.26h-5.67A96.48,96.48,0,0,0,242,102.64V320.91h28.34V179.17H412.05V320.91h28.34V102.64A96.48,96.48,0,0,0,344,6.26ZM270.31,150.83V102.64a68.11,68.11,0,0,1,68-68H344a68.1,68.1,0,0,1,68,68v48.19Z" fill="#00aa84"/>


                <path id="step-3-letter-3" data-name="m-large" d="M1271,6.26H981.81a82.17,82.17,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11H556.61a82.3,82.3,0,0,0-82.2,82.2V320.91h28.35V88.46a53.91,53.91,0,0,1,53.85-53.85H845.75a53.92,53.92,0,0,1,53.86,53.85V320.91H928V88.46a53.92,53.92,0,0,1,53.86-53.85H1271a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,1271,6.26Z" fill="#00aa84"/>

                 <path id="step-3-letter-4" data-name="b2" d="M1543.78,162.65A85,85,0,0,0,1493.46,9.09H1387.17V320.91h113.38a85,85,0,0,0,43.23-158.26ZM1415.51,37.44h78a56.7,56.7,0,1,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>

                 <path id="step-3-letter-5" data-name="o1" d="M1721.65,6.26H1716a96.48,96.48,0,0,0-96.37,96.38V227.36A96.48,96.48,0,0,0,1716,323.74h5.67A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1716a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                 <path id="step-3-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>
                
                  <path id="step-4-letter-1" data-name="b1" d="M166.14,162.65A85,85,0,0,0,115.83,9.09H9.53V320.91H122.91a85,85,0,0,0,43.23-158.26ZM37.87,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

                  <path id="step-4-letter-2" data-name="a" d="M344,6.26h-5.67A96.48,96.48,0,0,0,242,102.64V320.91h28.34V179.17H412.05V320.91h28.34V102.64A96.48,96.48,0,0,0,344,6.26ZM270.31,150.83V102.64a68.11,68.11,0,0,1,68-68H344a68.1,68.1,0,0,1,68,68v48.19Z" fill="#00aa84"/>

                  <path id="step-4-letter-3" data-name="m" d="M704,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.3,82.3,0,0,0-82.2,82.2V320.91h28.35V88.46a53.91,53.91,0,0,1,53.85-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H704a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,704,6.26Z" fill="#00aa84"/>

                  <path id="step-4-letter-4" data-name="b2-large" d="M1543.78,162.65A85,85,0,0,0,1493.46,9.09H820.24V320.91h680.31a85,85,0,0,0,43.23-158.26ZM848.58,37.44h644.88a56.7,56.7,0,1,1,0,113.39H848.58Zm652,255.12h-652V179.17h652a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>


                  <path id="step-4-letter-5" data-name="o1" d="M1721.65,6.26H1716a96.48,96.48,0,0,0-96.37,96.38V227.36A96.48,96.48,0,0,0,1716,323.74h5.67A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1716a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                  <path id="step-4-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                  <path id="step-5-letter-1" data-name="b1" d="M166.14,162.65A85,85,0,0,0,115.83,9.09H9.53V320.91H122.91a85,85,0,0,0,43.23-158.26ZM37.87,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

                  <path id="step-5-letter-2" data-name="a" d="M344,6.26h-5.67A96.48,96.48,0,0,0,242,102.64V320.91h28.34V179.17H412.05V320.91h28.34V102.64A96.48,96.48,0,0,0,344,6.26ZM270.31,150.83V102.64a68.11,68.11,0,0,1,68-68H344a68.1,68.1,0,0,1,68,68v48.19Z" fill="#00aa84"/>

                  <path id="step-5-letter-3" data-name="m" d="M704,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.3,82.3,0,0,0-82.2,82.2V320.91h28.35V88.46a53.91,53.91,0,0,1,53.85-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H704a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,704,6.26Z" fill="#00aa84"/>

                  <path id="step-5-letter-4" data-name="b2" d="M976.85,162.65A85,85,0,0,0,926.54,9.09H820.24V320.91H933.62a85,85,0,0,0,43.23-158.26ZM848.58,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>

                   <path id="step-5-letter-5" data-name="o1-large" d="M1721.65,6.26h-572.6a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h572.6A96.48,96.48,0,0,0,1818,227.36V102.64A96.48,96.48,0,0,0,1721.65,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-572.6a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h572.6a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                  <path id="step-5-letter-6" data-name="o2" d="M1954.09,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                  <path id="step-6-letter-1" data-name="b1" d="M166.14,162.65A85,85,0,0,0,115.83,9.09H9.53V320.91H122.91a85,85,0,0,0,43.23-158.26ZM37.87,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,1,1,0,113.39Z" fill="#00aa84"/>

                  <path id="step-6-letter-2" data-name="a" d="M344,6.26h-5.67A96.48,96.48,0,0,0,242,102.64V320.91h28.34V179.17H412.05V320.91h28.34V102.64A96.48,96.48,0,0,0,344,6.26ZM270.31,150.83V102.64a68.11,68.11,0,0,1,68-68H344a68.1,68.1,0,0,1,68,68v48.19Z" fill="#00aa84"/>

                  <path id="step-6-letter-3" data-name="m" d="M704,6.26h-5.67a82.2,82.2,0,0,0-68,36.11,82.17,82.17,0,0,0-68-36.11h-5.67a82.3,82.3,0,0,0-82.2,82.2V320.91h28.35V88.46a53.91,53.91,0,0,1,53.85-53.85h5.67a53.92,53.92,0,0,1,53.86,53.85V320.91h28.35V88.46a53.92,53.92,0,0,1,53.86-53.85H704a53.91,53.91,0,0,1,53.85,53.85V320.91h28.35V88.46A82.3,82.3,0,0,0,704,6.26Z" fill="#00aa84"/>

                   <path id="step-6-letter-4" data-name="b2" d="M976.85,162.65A85,85,0,0,0,926.54,9.09H820.24V320.91H933.62a85,85,0,0,0,43.23-158.26ZM848.58,37.44h78a56.7,56.7,0,0,1,0,113.39h-78Zm85,255.12h-85V179.17h85a56.7,56.7,0,0,1,0,113.39Z" fill="#00aa84"/>

                   <path id="step-6-letter-5" data-name="o1" d="M1154.72,6.26h-5.67a96.48,96.48,0,0,0-96.37,96.38V227.36a96.48,96.48,0,0,0,96.37,96.38h5.67a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1154.72,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68h-5.67a68.1,68.1,0,0,1-68-68V102.64a68.1,68.1,0,0,1,68-68h5.67a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>
                  
                  <path id="step-6-letter-6" data-name="o2" d="M1954.09,6.26H1381.5a96.48,96.48,0,0,0-96.38,96.38V227.36a96.48,96.48,0,0,0,96.38,96.38h572.59a96.48,96.48,0,0,0,96.38-96.38V102.64A96.48,96.48,0,0,0,1954.09,6.26Zm68,221.1a68.11,68.11,0,0,1-68,68H1381.5a68.11,68.11,0,0,1-68-68V102.64a68.11,68.11,0,0,1,68-68h572.59a68.11,68.11,0,0,1,68,68Z" fill="#00aa84"/>

                  
            </svg>
           
							</a>

							<a href="#" class="toggle-nav" id="menu-btn">

								<span>{{options.menu_label}}</span>
								<div class="con">
							      <div class="bar arrow-top"></div>
							      <div class="bar arrow-middle"></div>
							      <div class="bar arrow-bottom"></div>
							    </div>
							</a>
						</div><!-- container -->
						{% endif %}
						
					{% endblock %}
				</header>
				{% block breadcrumbs %}
					{% if not newsletter_form %}
						{% include 'partial/breadcrumbs.twig' %}
					{% endif %}
				{% endblock %}

				<div id="content" role="main" class="content-wrapper">
					
					<div class="wrapper ">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</div>
				</div>


			

				{% block footer %}
					{% set class = '' %}

					{% if  is_front_page %}
						{% set class = 'hide-on-hp' %}
					{% endif %}

						<footer id="footer" class="standard-footer {{class}}">
							{% include 'footer.twig' %}
						</footer>
					
					
					{{ function('wp_footer') }}
				{% endblock %}

				

			</div><!-- site-canvas -->

			{% block newsletter %}

					{% if not newsletter_form %}
						{% if  is_front_page %}
							{% set class = 'hide-on-hp' %}
						{% endif %}
						
						<div  class="newsletter-footer {{class}}">
							{% include 'newsletter.twig' %}
						</div>
					{% endif %}
					
				{% endblock %}
		</div><!-- site-wrapper -->

        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

	{% if not newsletter_form %}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
		<script src="{{ theme.path }}/includes/js/vendor.min.js"></script>
        <script src="{{ theme.path }}/includes/js/custom.min.js?v=1.2"></script>
	{% endif %}

			{% block extra_js %}
				<script>
				jQuery( document ).ready(function() {

					if(jQuery('.single.single-news').length){
						jQuery(".navbar-nav .nav-item.menu-item-39").addClass("current-menu-item");   
					}
					else
					if(jQuery('.single.single-events').length){
						jQuery(".navbar-nav .nav-item.menu-item-43").addClass("current-menu-item");   
					}

					jQuery('a[href$=".pdf"]').on("click",function() {
						var href = jQuery(this).attr("href");
						var location = window.location.href ;

						gtag('event', 'download', {
							event_category: 'PDF',
							event_label: href,
							value : location
						});
					});

					jQuery('a[href$=".zip"]').on("click",function() {
						var href = jQuery(this).attr("href");
						var location = window.location.href ;

						gtag('event', 'download', {
							event_category: 'ZIP',
							event_label: href,
							value : location
						});
					});

					jQuery( '.article-share a').click(function(e) {
						e.preventDefault();
						e.stopImmediatePropagation();
						var social = jQuery(this).attr("data-social");
						var location = window.location.href ;
						var target = jQuery(this).attr('href');
						
		
						window.open(target,'title', 'width=800, height=400');

						gtag('event', 'share', {
							event_category: 'social-share',
							event_label: social,
							value : location
						});

						return false;
					});

				});

				 

				</script>
			{% endblock %}

	</body>
</html>
