{% extends "base.twig" %}


{% block content %}
  

 <section class="page-content contact-page">
    <div class="container-fluid">
      <div class="txt-container">
        <h1 class="standard-title">{{post.get_field("alternative_title")}}</h1>
        {% if post.get_field("contact_blocks") %}
        <div class="row">
          {% for extra_block in post.get_field("contact_blocks") %}
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="col-content">
              <h2 class="standard-title"> {{extra_block.block_title}}</h2>
              <h4 class="standard-subtitle">
                {{extra_block.block_text|striptags('<br><strong>')}}
              </h4><!-- standard-txt -->
              <div class="list-links alternate">

                  <a href="mailto:{{extra_block.block_mail}}" target="_blank">
                   <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                              <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                  <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                  <path d="M20,10 L0,10" id="Stroke-3"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                   <span>{{extra_block.button_text}}</span>
                  </a>
                    
              </div><!-- list-links -->
             
            </div><!-- col-content -->
          </div><!-- col -->
          
          {% endfor %}
        </div><!-- row -->
        {% endif %}
        
       
      </div><!-- txt-container -->

      
     
    </div>

  </section><!-- page-content -->

  
{% endblock %}



{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {

  });
  </script>
{% endblock %}
