{% extends "base.twig" %}


{% block content %}
  
  {% block jumbo %}
    {% include 'partial/jumbo.twig' %}
  {% endblock %}


  {% if demos[0] %}
<section class="demos-section">
  <div class="container-fluid">
    <div class="row  demos-list">
        {% for demo in demos %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-demo">

                <a class="demo-link " href="{{demo.link}}" data-demo="{{demo.id}}" >

                  <div class="outer-container">
                     <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                    <img src="{{demo.thumbnail.src('large' )}}" />
                    </div><!-- image-container  -->
                  <div class="inner-container">
          
                    

                    <div class="text-container text-center">
                       <div class="icon">
                        {{demo.icon_code_svg}}
                      </div>
                      <div class="info-container">
                        <h3>{{demo.title}}</h3>
                      <span>{{demo.location}}</span>
                      </div>
                    </div><!-- text-container -->
                  </div><!-- inner-container -->
                  </div><!-- outer-container -->

                 
                </a>

            </div><!-- col-demo -->
        {% endfor %}
      </div><!-- row -->
    </div>
  </section>
  
 {% endif %}


 
{% endblock %}


