{% if  newsletter_form %}
	<div class="container">
		<div class="inner-footer text-center">
			{{options.newsletter_footer}}
			{% if options.footer_socials %}
				<div class="socials">
				{% for social in options.footer_socials %}
					<a  class="float-left" href="{{social.social_link}}" target="_blank">
						
						<i class="fab fa-{{social.social_icon}}"></i>
					</a>
				{% endfor %}
				</div><!-- socials-inner -->
			{% endif %}
		</div><!-- footer-container -->
	</div><!-- container -->
{% else %}
	<div class="container-fluid">
	      <div class="footer-container ">
	      			<a class="navbar-brand" href="{{ site.link }}">
						{{options.logo_footer}}
					</a>

	      			
	      			<div class="footer-text ">
	      				{% if options.logo_partner %}
			       			<img class="partner-logo" src="{{TimberImage(options.logo_partner).src}}"/>
			       		{% endif %}
	      				<img class="eu-flag" src="{{TimberImage(options.footer_image).src}}"/>
			       		<p>{{options.footer_text}}</p>
						

			       	</div><!-- footer-text -->

					{% if options.footer_socials %}
				       <div class="footer-right float-right">
				          {% for button in options.footer_socials %}

				            {% set href = button.social_link %}
				            
				            <a href="{{href}}" target="_blank">
				            	<i class="fab fa-{{button.social_icon}}"></i>
				            </a>
				              
				          {% endfor %}
				        </div><!-- footer-right -->
				      {% endif %}
		       
	      </div><!-- footer-container -->
	</div><!-- container -->
{% endif %}