{% extends "base.twig" %}


{% block content %}
  {% set bg_url = post.thumbnail.src('full' ) %}
  <section class="hp-content">

    <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
       <img src="{{bg_url}}" />
    </div><!-- image-container  -->
    <div class="text-container">
      <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-title">
          <div class="title-content">
            <h1 class="invisible d-none">
              {{post.get_field("alternative_title")}}
            </h1>

            <div class="fake-h1">
              <?xml version="1.0" encoding="UTF-8"?>
<svg width="384px" height="627px" viewBox="0 0 384 627" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="mobile-fake-h1">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>h1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="A.-Homepage" transform="translate(-49.000000, -100.000000)">
            <g id="h1" transform="translate(49.000000, 90.000000)">
                <path d="M0,97 L0,11.1796875 L94.1992188,11.1796875 C99.362005,11.1796875 103.974589,12.6607925 108.037109,15.6230469 C112.014994,18.5006654 114.807935,22.3938557 116.416016,27.3027344 C118.024097,32.2116131 118.066414,37.0357836 116.542969,41.7753906 C115.104159,46.5149977 112.268901,50.4081879 108.037109,53.4550781 C112.692081,56.163425 115.992829,59.9296634 117.939453,64.7539062 C119.124355,67.546889 119.716797,70.3821471 119.716797,73.2597656 C119.716797,75.3756616 119.420576,77.5338432 118.828125,79.734375 C117.389316,84.8971612 114.596375,89.0865725 110.449219,92.3027344 C106.302063,95.4342604 101.562527,97 96.2304688,97 L0,97 Z M96.2304688,89.2558594 C100.546897,89.2558594 104.2285,87.7324371 107.275391,84.6855469 C110.322281,81.6386566 111.845703,77.9570528 111.845703,73.640625 C111.845703,69.3241972 110.322281,65.6425934 107.275391,62.5957031 C104.2285,59.5488129 100.546897,58.0253906 96.2304688,58.0253906 L7.74414062,58.0253906 L7.74414062,89.2558594 L96.2304688,89.2558594 Z M94.1992188,50.1542969 C98.5156466,50.1542969 102.19725,48.6308746 105.244141,45.5839844 C108.291031,42.5370941 109.814453,38.8554903 109.814453,34.5390625 C109.814453,30.3072705 108.291031,26.667984 105.244141,23.6210938 C102.19725,20.5742035 98.5156466,19.0507812 94.1992188,19.0507812 L7.74414062,19.0507812 L7.74414062,50.1542969 L94.1992188,50.1542969 Z M156.660156,97.7617188 C153.020815,97.7617188 149.635432,97.1269595 146.503906,95.8574219 C143.37238,94.5032484 140.494805,92.5566533 137.871094,90.0175781 C135.332019,87.3938671 133.385423,84.5162917 132.03125,81.3847656 C130.761712,78.3378754 130.126953,74.9524926 130.126953,71.2285156 L130.126953,36.9511719 C130.126953,33.3118308 130.761712,29.9264479 132.03125,26.7949219 C133.385423,23.6633958 135.332019,20.7858204 137.871094,18.1621094 C140.494805,15.6230342 143.37238,13.6764391 146.503906,12.3222656 C149.635432,11.052728 153.020815,10.4179688 156.660156,10.4179688 L158.183594,10.4179688 C161.822935,10.4179688 165.208318,11.052728 168.339844,12.3222656 C171.47137,13.6764391 174.348945,15.6230342 176.972656,18.1621094 C179.511731,20.7858204 181.458327,23.6633958 182.8125,26.7949219 C184.082038,29.9264479 184.716797,33.3118308 184.716797,36.9511719 L184.716797,71.2285156 C184.716797,74.9524926 184.082038,78.3378754 182.8125,81.3847656 C181.458327,84.5162917 179.511731,87.3938671 176.972656,90.0175781 C174.348945,92.5566533 171.47137,94.5032484 168.339844,95.8574219 C165.208318,97.1269595 161.822935,97.7617188 158.183594,97.7617188 L156.660156,97.7617188 Z M143.457031,23.7480469 C141.595043,25.5253995 140.198572,27.5143119 139.267578,29.7148438 C138.336584,31.9153756 137.871094,34.3274608 137.871094,36.9511719 L137.871094,71.2285156 C137.871094,73.8522267 138.336584,76.2643119 139.267578,78.4648438 C140.198572,80.6653756 141.595043,82.654288 143.457031,84.4316406 C145.234384,86.2936291 147.223296,87.6900995 149.423828,88.6210938 C151.62436,89.552088 154.036445,90.0175781 156.660156,90.0175781 L158.183594,90.0175781 C160.807305,90.0175781 163.21939,89.552088 165.419922,88.6210938 C167.620454,87.6900995 169.609366,86.2936291 171.386719,84.4316406 C173.248707,82.654288 174.645178,80.6653756 175.576172,78.4648438 C176.507166,76.2643119 176.972656,73.8522267 176.972656,71.2285156 L176.972656,36.9511719 C176.972656,34.3274608 176.507166,31.9153756 175.576172,29.7148438 C174.645178,27.5143119 173.248707,25.5253995 171.386719,23.7480469 C169.609366,21.8860584 167.620454,20.489588 165.419922,19.5585938 C163.21939,18.6275995 160.807305,18.1621094 158.183594,18.1621094 L156.660156,18.1621094 C154.036445,18.1621094 151.62436,18.6275995 149.423828,19.5585938 C147.223296,20.489588 145.234384,21.8860584 143.457031,23.7480469 Z M221.660156,97.7617188 C218.020815,97.7617188 214.635432,97.1269595 211.503906,95.8574219 C208.37238,94.5032484 205.494805,92.5566533 202.871094,90.0175781 C200.332019,87.3938671 198.385423,84.5162917 197.03125,81.3847656 C195.761712,78.3378754 195.126953,74.9524926 195.126953,71.2285156 L195.126953,36.9511719 C195.126953,33.3118308 195.761712,29.9264479 197.03125,26.7949219 C198.385423,23.6633958 200.332019,20.7858204 202.871094,18.1621094 C205.494805,15.6230342 208.37238,13.6764391 211.503906,12.3222656 C214.635432,11.052728 218.020815,10.4179688 221.660156,10.4179688 L223.183594,10.4179688 C226.822935,10.4179688 230.208318,11.052728 233.339844,12.3222656 C236.47137,13.6764391 239.348945,15.6230342 241.972656,18.1621094 C244.511731,20.7858204 246.458327,23.6633958 247.8125,26.7949219 C249.082038,29.9264479 249.716797,33.3118308 249.716797,36.9511719 L249.716797,71.2285156 C249.716797,74.9524926 249.082038,78.3378754 247.8125,81.3847656 C246.458327,84.5162917 244.511731,87.3938671 241.972656,90.0175781 C239.348945,92.5566533 236.47137,94.5032484 233.339844,95.8574219 C230.208318,97.1269595 226.822935,97.7617188 223.183594,97.7617188 L221.660156,97.7617188 Z M208.457031,23.7480469 C206.595043,25.5253995 205.198572,27.5143119 204.267578,29.7148438 C203.336584,31.9153756 202.871094,34.3274608 202.871094,36.9511719 L202.871094,71.2285156 C202.871094,73.8522267 203.336584,76.2643119 204.267578,78.4648438 C205.198572,80.6653756 206.595043,82.654288 208.457031,84.4316406 C210.234384,86.2936291 212.223296,87.6900995 214.423828,88.6210938 C216.62436,89.552088 219.036445,90.0175781 221.660156,90.0175781 L223.183594,90.0175781 C225.807305,90.0175781 228.21939,89.552088 230.419922,88.6210938 C232.620454,87.6900995 234.609366,86.2936291 236.386719,84.4316406 C238.248707,82.654288 239.645178,80.6653756 240.576172,78.4648438 C241.507166,76.2643119 241.972656,73.8522267 241.972656,71.2285156 L241.972656,36.9511719 C241.972656,34.3274608 241.507166,31.9153756 240.576172,29.7148438 C239.645178,27.5143119 238.248707,25.5253995 236.386719,23.7480469 C234.609366,21.8860584 232.620454,20.489588 230.419922,19.5585938 C228.21939,18.6275995 225.807305,18.1621094 223.183594,18.1621094 L221.660156,18.1621094 C219.036445,18.1621094 216.62436,18.6275995 214.423828,19.5585938 C212.223296,20.489588 210.234384,21.8860584 208.457031,23.7480469 Z M307.734375,90.7792969 C305.449207,93.1491004 302.91017,94.8841091 300.117188,95.984375 C297.239569,97.1692768 294.192724,97.7617188 290.976562,97.7617188 L283.867188,97.7617188 C280.651026,97.7617188 277.604181,97.1692768 274.726562,95.984375 C271.93358,94.8841091 269.394543,93.1491004 267.109375,90.7792969 C264.824207,88.4941292 263.089199,85.9550921 261.904297,83.1621094 C260.719395,80.3691267 260.126953,77.3222821 260.126953,74.0214844 L267.871094,74.0214844 C267.871094,76.2220162 268.294267,78.2532459 269.140625,80.1152344 C269.902348,81.9772229 271.044914,83.7122315 272.568359,85.3203125 C274.17644,86.8437576 275.911449,87.9863243 277.773438,88.7480469 C279.635426,89.5944053 281.666656,90.0175781 283.867188,90.0175781 L290.976562,90.0175781 C295.377626,90.0175781 299.143865,88.4518386 302.275391,85.3203125 C305.406917,82.1887864 306.972656,78.422548 306.972656,74.0214844 C306.972656,69.6204207 305.406917,65.8541823 302.275391,62.7226562 C299.143865,59.5911302 295.377626,58.0253906 290.976562,58.0253906 L285.898438,58.0253906 C279.296842,58.0253906 273.668643,55.6979399 269.013672,51.0429688 C264.358701,46.3879976 262.03125,40.7597986 262.03125,34.1582031 C262.03125,27.6412435 264.358701,22.0553618 269.013672,17.4003906 C273.668643,12.7454194 279.296842,10.4179688 285.898438,10.4179688 L288.945312,10.4179688 C292.24611,10.4179688 295.292955,11.0104107 298.085938,12.1953125 C300.87892,13.3802143 303.460275,15.1152229 305.830078,17.4003906 C308.115246,19.6855583 309.850254,22.2669127 311.035156,25.1445312 C312.220058,27.937514 312.8125,30.9420412 312.8125,34.1582031 L304.941406,34.1582031 C304.941406,31.9576713 304.560551,29.9264416 303.798828,28.0644531 C303.037106,26.2024646 301.852222,24.467456 300.244141,22.859375 C298.720696,21.3359299 297.028004,20.1933632 295.166016,19.4316406 C293.219391,18.5852822 291.145844,18.1621094 288.945312,18.1621094 L285.898438,18.1621094 C281.497374,18.1621094 277.731135,19.7278489 274.599609,22.859375 C271.468083,25.9909011 269.902344,29.7571395 269.902344,34.1582031 C269.902344,38.6439026 271.468083,42.410141 274.599609,45.4570312 C277.731135,48.5885573 281.497374,50.1542969 285.898438,50.1542969 L290.976562,50.1542969 C294.192724,50.1542969 297.239569,50.7467389 300.117188,51.9316406 C302.91017,53.1165424 305.449207,54.8515511 307.734375,57.1367187 C310.104179,59.5065223 311.839187,62.0878767 312.939453,64.8808594 C314.124355,67.6738421 314.716797,70.7206866 314.716797,74.0214844 C314.716797,77.3222821 314.124355,80.3691267 312.939453,83.1621094 C311.839187,85.9550921 310.104179,88.4941292 307.734375,90.7792969 Z M356.357422,19.0507812 L356.357422,97 L348.486328,97 L348.486328,19.0507812 L325.126953,19.0507812 L325.126953,11.1796875 L379.716797,11.1796875 L379.716797,19.0507812 L356.357422,19.0507812 Z" id="Boost" fill="#FFFFFF"></path>
                <path d="M54.5898438,127.050781 L31.2304687,127.050781 L31.2304687,197.255859 L54.5898438,197.255859 L54.5898438,205 L0,205 L0,197.255859 L23.359375,197.255859 L23.359375,127.050781 L0,127.050781 L0,119.179688 L54.5898438,119.179688 L54.5898438,127.050781 Z M111.845703,205 L111.845703,145.712891 C111.845703,143.173815 111.380213,140.76173 110.449219,138.476562 C109.518225,136.276031 108.121754,134.287118 106.259766,132.509766 C104.482413,130.647777 102.493501,129.251307 100.292969,128.320312 C98.0924369,127.473954 95.6803517,127.050781 93.0566406,127.050781 L72.7441406,127.050781 L72.7441406,205 L65,205 L65,119.179688 L93.0566406,119.179688 C96.6959817,119.179688 100.081365,119.856764 103.212891,121.210938 C106.344417,122.480475 109.221992,124.384753 111.845703,126.923828 C114.384778,129.547539 116.331373,132.425115 117.685547,135.556641 C118.955084,138.688167 119.589844,142.07355 119.589844,145.712891 L119.589844,205 L111.845703,205 Z M156.533203,205.761719 C152.893862,205.761719 149.508479,205.126959 146.376953,203.857422 C143.245427,202.503248 140.367852,200.556653 137.744141,198.017578 C135.205065,195.393867 133.25847,192.516292 131.904297,189.384766 C130.634759,186.337875 130,182.952493 130,179.228516 L130,144.951172 C130,141.311831 130.634759,137.926448 131.904297,134.794922 C133.25847,131.663396 135.205065,128.78582 137.744141,126.162109 C140.367852,123.623034 143.245427,121.676439 146.376953,120.322266 C149.508479,119.052728 152.893862,118.417969 156.533203,118.417969 L158.056641,118.417969 C161.695982,118.417969 165.081365,119.052728 168.212891,120.322266 C171.344417,121.676439 174.221992,123.623034 176.845703,126.162109 C179.384778,128.78582 181.331373,131.663396 182.685547,134.794922 C183.955084,137.926448 184.589844,141.311831 184.589844,144.951172 L176.845703,144.951172 C176.845703,142.327461 176.380213,139.915376 175.449219,137.714844 C174.518225,135.514312 173.121754,133.5254 171.259766,131.748047 C169.482413,129.886058 167.493501,128.489588 165.292969,127.558594 C163.092437,126.6276 160.680352,126.162109 158.056641,126.162109 L156.533203,126.162109 C153.909492,126.162109 151.497407,126.6276 149.296875,127.558594 C147.096343,128.489588 145.107431,129.886058 143.330078,131.748047 C141.46809,133.5254 140.071619,135.514312 139.140625,137.714844 C138.209631,139.915376 137.744141,142.327461 137.744141,144.951172 L137.744141,179.228516 C137.744141,181.852227 138.209631,184.264312 139.140625,186.464844 C140.071619,188.665376 141.46809,190.654288 143.330078,192.431641 C145.107431,194.293629 147.096343,195.6901 149.296875,196.621094 C151.497407,197.552088 153.909492,198.017578 156.533203,198.017578 L158.056641,198.017578 C160.680352,198.017578 163.092437,197.552088 165.292969,196.621094 C167.493501,195.6901 169.482413,194.293629 171.259766,192.431641 C173.121754,190.654288 174.518225,188.665376 175.449219,186.464844 C176.380213,184.264312 176.845703,181.852227 176.845703,179.228516 L176.845703,166.025391 L157.294922,166.025391 L157.294922,158.154297 L184.589844,158.154297 L184.589844,179.228516 C184.589844,182.952493 183.955084,186.337875 182.685547,189.384766 C181.331373,192.516292 179.384778,195.393867 176.845703,198.017578 C174.221992,200.556653 171.344417,202.503248 168.212891,203.857422 C165.081365,205.126959 161.695982,205.761719 158.056641,205.761719 L156.533203,205.761719 Z" id="ing" fill="#FFFFFF"></path>
                <g id="arrow-home" transform="translate(195.000000, 139.000000)" stroke="#FFFFFF" stroke-width="7">
                    <polyline id="Stroke-1" points="156.285714 -1.04591891e-11 183 24.4880952 156.285714 48.9761905"></polyline>
                    <path d="M182.561699,24.2407407 L0.5,24.2407407" id="Stroke-3"></path>
                </g>
                <path d="M119.589844,235.050781 L63.7304688,235.050781 L63.7304688,305.255859 L119.589844,305.255859 L119.589844,313 L0,313 L0,305.255859 L55.859375,305.255859 L55.859375,235.050781 L0,235.050781 L0,227.179688 L119.589844,227.179688 L119.589844,235.050781 Z M176.845703,313 L176.845703,253.712891 C176.845703,251.173815 176.380213,248.76173 175.449219,246.476562 C174.518225,244.276031 173.121754,242.287118 171.259766,240.509766 C169.482413,238.647777 167.493501,237.251307 165.292969,236.320312 C163.092437,235.473954 160.680352,235.050781 158.056641,235.050781 L137.744141,235.050781 L137.744141,313 L130,313 L130,227.179688 L158.056641,227.179688 C161.695982,227.179688 165.081365,227.856764 168.212891,229.210938 C171.344417,230.480475 174.221992,232.384753 176.845703,234.923828 C179.384778,237.547539 181.331373,240.425115 182.685547,243.556641 C183.955084,246.688167 184.589844,250.07355 184.589844,253.712891 L184.589844,313 L176.845703,313 Z M195,313 L195,227.179688 L223.056641,227.179688 C226.695982,227.179688 230.081365,227.856764 233.212891,229.210938 C236.344417,230.480475 239.221992,232.384753 241.845703,234.923828 C244.384778,237.547539 246.331373,240.425115 247.685547,243.556641 C248.955084,246.688167 249.589844,250.07355 249.589844,253.712891 L249.589844,286.466797 C249.589844,290.106138 248.955084,293.491521 247.685547,296.623047 C246.331373,299.754573 244.384778,302.632148 241.845703,305.255859 C239.221992,307.794935 236.344417,309.74153 233.212891,311.095703 C230.081365,312.365241 226.695982,313 223.056641,313 L195,313 Z M223.056641,305.255859 C225.680352,305.255859 228.092437,304.790369 230.292969,303.859375 C232.493501,302.928381 234.482413,301.53191 236.259766,299.669922 C238.121754,297.892569 239.518225,295.903657 240.449219,293.703125 C241.380213,291.502593 241.845703,289.090508 241.845703,286.466797 L241.845703,253.712891 C241.845703,251.173815 241.380213,248.76173 240.449219,246.476562 C239.518225,244.276031 238.121754,242.287118 236.259766,240.509766 C234.482413,238.647777 232.493501,237.251307 230.292969,236.320312 C228.092437,235.473954 225.680352,235.050781 223.056641,235.050781 L202.744141,235.050781 L202.744141,305.255859 L223.056641,305.255859 Z M314.589844,287.228516 C314.589844,290.952493 313.955084,294.337875 312.685547,297.384766 C311.331373,300.516292 309.384778,303.393867 306.845703,306.017578 C304.221992,308.556653 301.344417,310.503248 298.212891,311.857422 C295.081365,313.126959 291.695982,313.761719 288.056641,313.761719 L286.533203,313.761719 C282.893862,313.761719 279.508479,313.126959 276.376953,311.857422 C273.245427,310.503248 270.367852,308.556653 267.744141,306.017578 C265.205065,303.393867 263.25847,300.516292 261.904297,297.384766 C260.634759,294.337875 260,290.952493 260,287.228516 L260,227.179688 L267.744141,227.179688 L267.744141,287.228516 C267.744141,289.852227 268.209631,292.264312 269.140625,294.464844 C270.071619,296.665376 271.46809,298.654288 273.330078,300.431641 C275.107431,302.293629 277.096343,303.6901 279.296875,304.621094 C281.497407,305.552088 283.909492,306.017578 286.533203,306.017578 L288.056641,306.017578 C290.680352,306.017578 293.092437,305.552088 295.292969,304.621094 C297.493501,303.6901 299.482413,302.293629 301.259766,300.431641 C303.121754,298.654288 304.518225,296.665376 305.449219,294.464844 C306.380213,292.264312 306.845703,289.852227 306.845703,287.228516 L306.845703,227.179688 L314.589844,227.179688 L314.589844,287.228516 Z M372.607422,306.779297 C370.322254,309.1491 367.783217,310.884109 364.990234,311.984375 C362.112616,313.169277 359.065771,313.761719 355.849609,313.761719 L348.740234,313.761719 C345.524072,313.761719 342.477228,313.169277 339.599609,311.984375 C336.806627,310.884109 334.26759,309.1491 331.982422,306.779297 C329.697254,304.494129 327.962246,301.955092 326.777344,299.162109 C325.592442,296.369127 325,293.322282 325,290.021484 L332.744141,290.021484 C332.744141,292.222016 333.167313,294.253246 334.013672,296.115234 C334.775394,297.977223 335.917961,299.712232 337.441406,301.320312 C339.049487,302.843758 340.784496,303.986324 342.646484,304.748047 C344.508473,305.594405 346.539703,306.017578 348.740234,306.017578 L355.849609,306.017578 C360.250673,306.017578 364.016911,304.451839 367.148438,301.320312 C370.279964,298.188786 371.845703,294.422548 371.845703,290.021484 C371.845703,285.620421 370.279964,281.854182 367.148438,278.722656 C364.016911,275.59113 360.250673,274.025391 355.849609,274.025391 L350.771484,274.025391 C344.169889,274.025391 338.54169,271.69794 333.886719,267.042969 C329.231748,262.387998 326.904297,256.759799 326.904297,250.158203 C326.904297,243.641243 329.231748,238.055362 333.886719,233.400391 C338.54169,228.745419 344.169889,226.417969 350.771484,226.417969 L353.818359,226.417969 C357.119157,226.417969 360.166002,227.010411 362.958984,228.195312 C365.751967,229.380214 368.333321,231.115223 370.703125,233.400391 C372.988293,235.685558 374.723301,238.266913 375.908203,241.144531 C377.093105,243.937514 377.685547,246.942041 377.685547,250.158203 L369.814453,250.158203 C369.814453,247.957671 369.433598,245.926442 368.671875,244.064453 C367.910152,242.202465 366.725268,240.467456 365.117188,238.859375 C363.593742,237.33593 361.901051,236.193363 360.039062,235.431641 C358.092438,234.585282 356.018891,234.162109 353.818359,234.162109 L350.771484,234.162109 C346.370421,234.162109 342.604182,235.727849 339.472656,238.859375 C336.34113,241.990901 334.775391,245.757139 334.775391,250.158203 C334.775391,254.643903 336.34113,258.410141 339.472656,261.457031 C342.604182,264.588557 346.370421,266.154297 350.771484,266.154297 L355.849609,266.154297 C359.065771,266.154297 362.112616,266.746739 364.990234,267.931641 C367.783217,269.116542 370.322254,270.851551 372.607422,273.136719 C374.977225,275.506522 376.712234,278.087877 377.8125,280.880859 C378.997402,283.673842 379.589844,286.720687 379.589844,290.021484 C379.589844,293.322282 378.997402,296.369127 377.8125,299.162109 C376.712234,301.955092 374.977225,304.494129 372.607422,306.779297 Z" id="Indus" fill="#FFFFFF"></path>
                <path d="M31.2304687,343.050781 L31.2304687,421 L23.359375,421 L23.359375,343.050781 L0,343.050781 L0,335.179688 L54.5898438,335.179688 L54.5898438,343.050781 L31.2304687,343.050781 Z M109.052734,378.089844 C110.745451,379.19011 112.226556,380.417311 113.496094,381.771484 C114.765631,383.125658 115.865881,384.691397 116.796875,386.46875 C117.727869,388.330738 118.447263,390.150382 118.955078,391.927734 C119.378257,393.705087 119.589844,395.609365 119.589844,397.640625 L119.589844,421 L111.845703,421 L111.845703,397.640625 C111.845703,395.440093 111.464848,393.451181 110.703125,391.673828 C109.941402,389.81184 108.798836,388.119148 107.275391,386.595703 C105.751946,385.072258 104.059254,383.929691 102.197266,383.167969 C100.335277,382.406246 98.3463647,382.025391 96.2304688,382.025391 L72.7441406,382.025391 L72.7441406,421 L65,421 L65,335.179688 L96.2304688,335.179688 C101.477891,335.179688 106.132792,336.70311 110.195312,339.75 C114.257833,342.79689 117.050774,346.817032 118.574219,351.810547 C119.251305,354.18035 119.589844,356.550118 119.589844,358.919922 C119.589844,361.458997 119.166671,363.998034 118.320312,366.537109 C116.54296,371.361352 113.453798,375.212225 109.052734,378.089844 Z M72.7441406,374.154297 L96.2304688,374.154297 C100.546897,374.154297 104.2285,372.630875 107.275391,369.583984 C110.322281,366.537094 111.845703,362.85549 111.845703,358.539062 C111.845703,354.307271 110.322281,350.667984 107.275391,347.621094 C104.2285,344.574204 100.546897,343.050781 96.2304688,343.050781 L72.7441406,343.050781 L72.7441406,374.154297 Z M184.589844,343.050781 L161.230469,343.050781 L161.230469,413.255859 L184.589844,413.255859 L184.589844,421 L130,421 L130,413.255859 L153.359375,413.255859 L153.359375,343.050781 L130,343.050781 L130,335.179688 L184.589844,335.179688 L184.589844,343.050781 Z M223.056641,334.417969 C226.695982,334.417969 230.081365,335.052728 233.212891,336.322266 C236.344417,337.676439 239.221992,339.623034 241.845703,342.162109 C244.384778,344.78582 246.331373,347.663396 247.685547,350.794922 C248.955084,353.926448 249.589844,357.311831 249.589844,360.951172 L249.589844,421 L241.845703,421 L241.845703,382.025391 L202.744141,382.025391 L202.744141,421 L195,421 L195,360.951172 C195,357.311831 195.634759,353.926448 196.904297,350.794922 C198.25847,347.663396 200.205065,344.78582 202.744141,342.162109 C205.367852,339.623034 208.245427,337.676439 211.376953,336.322266 C214.508479,335.052728 217.893862,334.417969 221.533203,334.417969 L223.056641,334.417969 Z M202.744141,374.154297 L241.845703,374.154297 L241.845703,360.951172 C241.845703,358.327461 241.380213,355.915376 240.449219,353.714844 C239.518225,351.514312 238.121754,349.5254 236.259766,347.748047 C234.482413,345.886058 232.493501,344.489588 230.292969,343.558594 C228.092437,342.6276 225.680352,342.162109 223.056641,342.162109 L221.533203,342.162109 C218.909492,342.162109 216.497407,342.6276 214.296875,343.558594 C212.096343,344.489588 210.107431,345.886058 208.330078,347.748047 C206.46809,349.5254 205.071619,351.514312 204.140625,353.714844 C203.209631,355.915376 202.744141,358.327461 202.744141,360.951172 L202.744141,374.154297 Z M379.589844,421 L260,421 L260,335.179688 L267.744141,335.179688 L267.744141,413.255859 L379.589844,413.255859 L379.589844,421 Z" id="triaL" fill="#FFFFFF"></path>
                <path d="M119.589844,451.050781 L7.74414062,451.050781 L7.74414062,482.154297 L111.845703,482.154297 L111.845703,490.025391 L7.74414062,490.025391 L7.74414062,529 L0,529 L0,443.179688 L119.589844,443.179688 L119.589844,451.050781 Z M184.589844,529 L130,529 L130,443.179688 L137.744141,443.179688 L137.744141,521.255859 L184.589844,521.255859 L184.589844,529 Z M249.589844,451.050781 L202.744141,451.050781 L202.744141,482.154297 L241.845703,482.154297 L241.845703,490.025391 L202.744141,490.025391 L202.744141,521.255859 L249.589844,521.255859 L249.589844,529 L195,529 L195,443.179688 L249.589844,443.179688 L249.589844,451.050781 Z M314.589844,529 L306.845703,529 L306.845703,508.6875 C306.845703,506.148425 306.380213,503.778657 305.449219,501.578125 C304.518225,499.377593 303.121754,497.346363 301.259766,495.484375 C299.482413,493.622387 297.493501,492.268233 295.292969,491.421875 C293.092437,490.490881 290.680352,490.025391 288.056641,490.025391 L286.533203,490.025391 C283.909492,490.025391 281.497407,490.490881 279.296875,491.421875 C277.096343,492.268233 275.107431,493.622387 273.330078,495.484375 C271.46809,497.346363 270.071619,499.377593 269.140625,501.578125 C268.209631,503.778657 267.744141,506.148425 267.744141,508.6875 L267.744141,529 L260,529 L260,508.6875 C260,506.317696 260.296221,504.07488 260.888672,501.958984 C261.396487,499.843088 262.242833,497.727224 263.427734,495.611328 C264.697272,493.495432 266.093742,491.675789 267.617188,490.152344 C269.140633,488.544263 270.917959,487.147792 272.949219,485.962891 C271.171866,484.777989 269.648444,483.466153 268.378906,482.027344 C267.024733,480.588534 265.882166,478.93816 264.951172,477.076172 C263.935542,475.214183 263.173831,473.352223 262.666016,471.490234 C262.158201,469.54361 261.904297,467.51238 261.904297,465.396484 L261.904297,443.179688 L269.775391,443.179688 L269.775391,465.396484 C269.775391,467.766288 270.198563,469.924469 271.044922,471.871094 C271.806644,473.817718 273.033846,475.637361 274.726562,477.330078 C276.334643,478.938159 278.111969,480.16536 280.058594,481.011719 C282.089854,481.773441 284.248035,482.154297 286.533203,482.154297 L288.056641,482.154297 C290.426444,482.154297 292.584626,481.773441 294.53125,481.011719 C296.477874,480.16536 298.297518,478.938159 299.990234,477.330078 C301.598315,475.637361 302.825517,473.817718 303.671875,471.871094 C304.433598,469.924469 304.814453,467.766288 304.814453,465.396484 L304.814453,443.179688 L312.685547,443.179688 L312.685547,465.396484 C312.685547,467.51238 312.431643,469.54361 311.923828,471.490234 C311.500649,473.352223 310.781255,475.214183 309.765625,477.076172 C308.749995,478.93816 307.565111,480.588534 306.210938,482.027344 C304.9414,483.466153 303.417978,484.777989 301.640625,485.962891 C303.671885,487.147792 305.449211,488.544263 306.972656,490.152344 C308.580737,491.675789 309.977208,493.495432 311.162109,495.611328 C312.347011,497.727224 313.193357,499.843088 313.701172,501.958984 C314.293623,504.07488 314.589844,506.317696 314.589844,508.6875 L314.589844,529 Z M379.589844,451.050781 L356.230469,451.050781 L356.230469,521.255859 L379.589844,521.255859 L379.589844,529 L325,529 L325,521.255859 L348.359375,521.255859 L348.359375,451.050781 L325,451.050781 L325,443.179688 L379.589844,443.179688 L379.589844,451.050781 Z" id="Flexi" fill="#FFFFFF"></path>
                <path d="M0,637 L0,551.179688 L29.1992187,551.179688 C34.362005,551.179688 38.9745891,552.660792 43.0371094,555.623047 C47.0149938,558.500665 49.8079347,562.393856 51.4160156,567.302734 C53.0240966,572.211613 53.0664139,577.035784 51.5429688,581.775391 C50.1041595,586.514998 47.2689014,590.408188 43.0371094,593.455078 C47.6920806,596.163425 50.9928288,599.929663 52.9394531,604.753906 C54.1243549,607.546889 54.7167969,610.382147 54.7167969,613.259766 C54.7167969,615.375662 54.4205759,617.533843 53.828125,619.734375 C52.3893157,624.897161 49.5963749,629.086572 45.4492188,632.302734 C41.3020626,635.43426 36.5625267,637 31.2304687,637 L0,637 Z M31.2304688,629.255859 C35.5468966,629.255859 39.2285004,627.732437 42.2753906,624.685547 C45.3222809,621.638657 46.8457031,617.957053 46.8457031,613.640625 C46.8457031,609.324197 45.3222809,605.642593 42.2753906,602.595703 C39.2285004,599.548813 35.5468966,598.025391 31.2304688,598.025391 L7.74414062,598.025391 L7.74414062,629.255859 L31.2304688,629.255859 Z M29.1992188,590.154297 C33.5156466,590.154297 37.1972504,588.630875 40.2441406,585.583984 C43.2910309,582.537094 44.8144531,578.85549 44.8144531,574.539062 C44.8144531,570.307271 43.2910309,566.667984 40.2441406,563.621094 C37.1972504,560.574204 33.5156466,559.050781 29.1992188,559.050781 L7.74414062,559.050781 L7.74414062,590.154297 L29.1992188,590.154297 Z M119.716797,559.050781 L96.3574219,559.050781 L96.3574219,629.255859 L119.716797,629.255859 L119.716797,637 L65.1269531,637 L65.1269531,629.255859 L88.4863281,629.255859 L88.4863281,559.050781 L65.1269531,559.050781 L65.1269531,551.179688 L119.716797,551.179688 L119.716797,559.050781 Z M184.716797,637 L130.126953,637 L130.126953,551.179688 L137.871094,551.179688 L137.871094,629.255859 L184.716797,629.255859 L184.716797,637 Z M249.716797,559.050781 L226.357422,559.050781 L226.357422,629.255859 L249.716797,629.255859 L249.716797,637 L195.126953,637 L195.126953,629.255859 L218.486328,629.255859 L218.486328,559.050781 L195.126953,559.050781 L195.126953,551.179688 L249.716797,551.179688 L249.716797,559.050781 Z M291.357422,559.050781 L291.357422,637 L283.486328,637 L283.486328,559.050781 L260.126953,559.050781 L260.126953,551.179688 L314.716797,551.179688 L314.716797,559.050781 L291.357422,559.050781 Z M379.716797,571.492188 C379.716797,574.877621 379.166672,578.0091 378.066406,580.886719 C376.96614,583.848973 375.273449,586.599597 372.988281,589.138672 C370.787749,591.593111 368.29103,593.539706 365.498047,594.978516 C362.705064,596.501961 359.65822,597.432941 356.357422,597.771484 L356.357422,637 L348.486328,637 L348.486328,597.771484 C345.18553,597.432941 342.138686,596.501961 339.345703,594.978516 C336.55272,593.539706 334.056001,591.593111 331.855469,589.138672 C329.570301,586.599597 327.87761,583.848973 326.777344,580.886719 C325.677078,578.0091 325.126953,574.877621 325.126953,571.492188 L325.126953,551.179688 L332.871094,551.179688 L332.871094,571.492188 C332.871094,574.031263 333.336584,576.401031 334.267578,578.601562 C335.198572,580.88673 336.595043,582.91796 338.457031,584.695312 C340.234384,586.557301 342.223296,587.953771 344.423828,588.884766 C346.62436,589.731124 349.036445,590.154297 351.660156,590.154297 L353.183594,590.154297 C355.807305,590.154297 358.21939,589.731124 360.419922,588.884766 C362.620454,587.953771 364.609366,586.557301 366.386719,584.695312 C368.248707,582.91796 369.645178,580.88673 370.576172,578.601562 C371.507166,576.401031 371.972656,574.031263 371.972656,571.492188 L371.972656,551.179688 L379.716797,551.179688 L379.716797,571.492188 Z" id="bility" fill="#FFFFFF"></path>
            </g>
        </g>
    </g>
</svg>
  

              <div class="fake-row" id="row-1">
                
              <?xml version="1.0" encoding="UTF-8"?>
<svg width="10" height="112" id="483b46f8-df32-4335-a7d2-c1383ddb205d" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 112"><title>BMB-r1-1-sx</title><line x1="5" y1="6" x2="5" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>

              <svg id="var" width="110" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 112"><title>BMB-r1-2-var</title>
                <line x1="-100%" x2="200%" y1="56" y2="56" fill="none" stroke="#009e7d" stroke-miterlimit="10" stroke-width="10"/>
                <line x1="-100%" x2="200%" y1="106" y2="106" fill="none" stroke="#009e7d" stroke-miterlimit="10" stroke-width="10"/>
                <line x1="-100%" x2="200%" y1="6" y2="6" fill="none" stroke="#009e7d" stroke-miterlimit="10" stroke-width="10"/>
            </svg>

          <svg  width="365" height="112"  id="374108b2-8879-4a16-9709-a78f23ebcf1c" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 365 112"><title>BMB-r1-3-dx</title><path d="M0,106H3A25,25,0,0,0,3,56H0" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><path d="M.5,56A25,25,0,0,0,.5,6H0" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><rect x="51" y="5" width="60" height="102" rx="29" ry="29" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><rect x="134" y="5" width="60" height="102" rx="29" ry="29" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="330" y1="6" x2="330" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="360" y1="6" x2="300" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M217,81.5h0A25.5,25.5,0,0,0,242.5,107h9A25.5,25.5,0,0,0,277,81.5h0A25.5,25.5,0,0,0,251.5,56H245a25.5,25.5,0,0,1-25.5-25.5h0A25.5,25.5,0,0,1,245,5h4a25.5,25.5,0,0,1,25.5,25.5h0" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/></svg>
              </div><!-- fake-row -->
             <div class="fake-row" id="row-2">

              <svg width="249" height="112" id="3da5b38a-8f7c-48d9-9be2-2c096c83bee6" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 249 112"><title>BMB-r2-1-sx</title><path d="M201,56h30V78a29,29,0,0,1-29,29h-2a29,29,0,0,1-29-29V34A29,29,0,0,1,200,5h2a29,29,0,0,1,29,29" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><path d="M148,106V35A29,29,0,0,0,119,6H88V106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="35" y1="6" x2="35" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="65" y1="6" x2="5" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="65" y1="106" x2="5" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>
              
             

              <svg id="var" width="198" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198 112"><title>BMB-r2-2-var</title><line x1="-100%" x2="200%" y1="50%" y2="50%" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/></svg>


              <svg id="af957d45-2b56-42a7-a433-89db80f28257"  width="38" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 112"><title>BMB-r2-3-dx</title><polyline points="4 29.5 30.5 56 4 82.5" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><line x1="26" y1="56" y2="56" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/></svg>

            
              </div><!-- fake-row -->


              <div class="fake-row" id="row-3">
                <svg id="var" width="153" height="112"  data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153 112"><title>BMB-r3-1-var</title>
                  <line x1="50%" y1="6" x2="50%" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/>
                  <line x1="-100%" y1="6" x2="200%" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/>
                  <line x1="-100%" y1="106" x2="200%" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/>
              </svg>
                <svg id="103e7066-0a78-46b6-b230-f8a9a4fdb1df"  width="332" height="112"  data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332 112"><title>BMB-r3-2-dx</title><path d="M78,106V35A29,29,0,0,0,49,6H18V106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M101,6h31a29,29,0,0,1,29,29V77a29,29,0,0,1-29,29H101a0,0,0,0,1,0,0V6a0,0,0,0,1,0,0Z" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M244,6V78a29,29,0,0,1-29,29h-2a29,29,0,0,1-29-29V6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M267,81.5h0A25.5,25.5,0,0,0,292.5,107h9A25.5,25.5,0,0,0,327,81.5h0A25.5,25.5,0,0,0,301.5,56H295a25.5,25.5,0,0,1-25.5-25.5h0A25.5,25.5,0,0,1,295,5h4a25.5,25.5,0,0,1,25.5,25.5h0" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/></svg>
              </div><!-- fake-row -->


              <div class="fake-row" id="row-4">

                <svg id="5f2098ae-6ab0-4058-b049-6b199e0bb8c9"  width="342" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 342 112"><title>BMB-r4-1-sx</title><path d="M88,56h35a25,25,0,0,1,25,25v25" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M123,56a25,25,0,0,0,0-50H88V106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="337" y1="106" x2="337" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M254,106V34A29,29,0,0,1,283,5h2a29,29,0,0,1,29,29v72" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="254" y1="56" x2="314" y2="56" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="35" y1="6" x2="35" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="65" y1="6" x2="5" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="201" y1="6" x2="201" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="231" y1="6" x2="171" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="231" y1="106" x2="171" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>

                <svg id="var" width="143" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143 112"><title>BMB-r4-2-var</title><line x1="-100%" x2="200%" y1="106" y2="106" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/></svg>
              </div><!-- fake-row -->


               <div class="fake-row" id="row-5">
                <svg id="71898510-a628-4fa1-8bd9-1473025b315e"  width="10" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 112"><title>BMB-r5-1-sx</title><line x1="5" y1="6" x2="5" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>
                <svg id="var"  width="143" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143 112"><title>BMB-r5-2-var</title>
                  <line x1="-100%" x2="200%" y1="56" y2="56" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/>
                  <line x1="-100%" x2="200%" y1="6" y2="6" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/>
                </svg>
                <svg id="4e4f15be-4315-46a2-9c41-eb492bf031d0"   width="332" height="112" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332 112"><title>BMB-r5-3-dx</title><line x1="151" y1="56" x2="101" y2="56" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><polyline points="161 6 101 6 101 106 161 106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><polyline points="78 106 18 106 18 6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M184,106V85a29,29,0,0,1,29-29h2a29,29,0,0,1,29,29v21" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M241.5,6V29.5A26.49,26.49,0,0,1,215,56h-2a26.49,26.49,0,0,1-26.5-26.5V6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="297" y1="6" x2="297" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="327" y1="6" x2="267" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="327" y1="106" x2="267" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>
              </div><!-- fake-row -->

              <div class="fake-row" id="row-6">
               <svg width="485" height="112" id="8665a058-5f34-4f7e-a8b4-2ba81da2ce50" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485 112"><title>BMB-r6</title><line x1="40" y1="56" x2="5" y2="56" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><path d="M37.5,56a25,25,0,0,0,0-50H5V106H40a25,25,0,0,0,0-50" fill="none" stroke="#00ab84" stroke-miterlimit="10" stroke-width="10"/><polyline points="231 106 171 106 171 6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="367" y1="6" x2="367" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="397" y1="6" x2="337" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="118" y1="6" x2="118" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="148" y1="6" x2="88" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="148" y1="106" x2="88" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="284" y1="6" x2="284" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="314" y1="6" x2="254" y2="6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="314" y1="106" x2="254" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><line x1="450" y1="56" x2="450" y2="106" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/><path d="M480,6V27a29,29,0,0,1-29,29h-2a29,29,0,0,1-29-29V6" fill="none" stroke="#00ab84" stroke-linecap="square" stroke-miterlimit="10" stroke-width="10"/></svg>
               </div><!-- fake-row -->
            </div>
            
          </div><!-- title-content -->
        </div>
        <div class="col-xl-6 col-lg-6 col-content">
          <div class="text-content">
             <div class="main-content">
              {{post.content}}
              </div>
             {% if post.get_field("links") %}
              <div class="list-links">
                {% for link in post.get_field("links") %}

                  {% set href = link.link_external %}
                  {% set target = '_blank' %}
                  {% if href == '' %}
                    {% set href = link.link_internal %}
                    {% set target = '_self' %}
                  {% endif %}
                  <a href="{{href}}" target="{{target}}">
                   <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                      <title>freccia-3px</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                              <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                  <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                  <path d="M20,10 L0,10" id="Stroke-3"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                   <span>{{link.link_text}}</span>
                  </a>
                    
                {% endfor %}
              </div><!-- list-links -->
            {% endif %}

              <footer id="footer" class="d-none d-md-block hp-only">
                {% if options.logo_partner %}
                  <img class="partner-logo" src="{{TimberImage(options.logo_partner).src}}"/>
                {% endif %}
                <img class="eu-flag" src="{{TimberImage(options.footer_image).src}}"/>
                <p>{{options.footer_text}}</p>

                
              </footer>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container-fluid -->
    </div><!-- text-container -->

    
  </section>

{% endblock %}



{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {



  });
  </script>
{% endblock %}
