<div class="newsletter-content">

	<div class="text-container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 col-md-12 ">
					<div class="col-container text-center">
						<div class="icon">
							<?xml version="1.0" encoding="UTF-8"?>
<svg width="122px" height="91px" viewBox="0 0 122 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <title>eye icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="eye-icon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-5" transform="translate(1.000000, 2.000000)" fill="#000000">
            <path d="M59.8685405,61.3632828 C56.7001622,61.3632828 54.1225946,58.7323862 54.1225946,55.4984552 C54.1225946,52.2648 56.7001622,49.6333517 59.8685405,49.6333517 C63.0369189,49.6333517 65.6144865,52.2648 65.6144865,55.4984552 C65.6144865,58.7323862 63.0369189,61.3632828 59.8685405,61.3632828 M59.8685405,41.8140414 C52.4758378,41.8140414 46.4615135,47.9528 46.4615135,55.4984552 C46.4615135,63.0441103 52.4758378,69.182869 59.8685405,69.182869 C67.2612432,69.182869 73.2755676,63.0441103 73.2755676,55.4984552 C73.2755676,47.9528 67.2612432,41.8140414 59.8685405,41.8140414" id="Fill-1"></path>
            <path d="M96.2396757,66.4330483 C89.0264324,71.6137379 82.3921081,74.8882207 76.5491351,76.9105655 C82.7202162,71.8920828 86.6829189,64.1593931 86.6829189,55.4984276 C86.6829189,46.2410483 82.1556216,38.0438069 75.2431892,33.0882207 C83.546973,35.7679448 90.8323784,40.1210483 96.2396757,44.0049103 C102.175622,48.2683586 106.746973,52.5787034 109.346973,55.2189793 C106.746973,57.8592552 102.175622,62.1693241 96.2396757,66.4330483 Z M10.3912973,55.2200828 C15.5388649,49.999669 28.4323784,38.2319448 44.5383243,33.0570483 C37.601027,38.0090483 33.0542703,46.2211862 33.0542703,55.4984276 C33.0542703,64.1610483 37.0185946,71.8951172 43.1915676,76.9136 C35.4285946,74.2134621 28.6202162,70.1124966 23.4975135,66.4330483 C17.5621081,62.1698759 12.9907568,57.8598069 10.3912973,55.2200828 Z M59.8685946,75.0479448 C49.3075135,75.0479448 40.7156216,66.2780138 40.7156216,55.4984276 C40.7156216,44.7188414 49.3075135,35.9489103 59.8685946,35.9489103 C70.4294054,35.9489103 79.0215676,44.7188414 79.0215676,55.4984276 C79.0215676,66.2780138 70.4294054,75.0479448 59.8685946,75.0479448 Z M117.528595,52.643531 C117.31373,52.3927724 113.066432,47.4771862 105.962378,41.6827034 L117.770757,26.0153931 L111.698324,21.2473931 L99.8123784,37.0178759 C95.3304865,33.8661517 90.7948108,31.2162207 86.2594054,29.0865655 L94.1331892,8.9456 L87.0175135,6.04766897 L79.1494054,26.1742897 C73.9334595,24.3519448 68.7556216,23.2358069 63.6991351,22.8587034 L63.6991351,0.143668966 L56.0377838,0.143668966 L56.0377838,22.8587034 C50.9815676,23.2358069 45.8037297,24.3519448 40.5877838,26.1742897 L32.7196757,6.04766897 L25.604,8.9456 L33.4777838,29.0865655 C28.9423784,31.2162207 24.4067027,33.8661517 19.9248108,37.0178759 L8.03859459,21.2473931 L1.96643243,26.0153931 L13.7748108,41.6827034 C6.67075676,47.4771862 2.42345946,52.3927724 2.20859459,52.643531 L-5.4054054e-05,55.2189793 L2.20859459,57.7944276 C2.4712973,58.1003586 8.7567027,65.3770483 18.9245405,72.7100138 C32.5445405,82.5323586 46.7026486,87.7243586 59.8685946,87.7243586 C73.0342703,87.7243586 87.1923784,82.5323586 100.812649,72.7100138 C110.980486,65.3770483 117.265892,58.1003586 117.528595,57.7944276 L119.736973,55.2189793 L117.528595,52.643531 Z" id="Fill-3"></path>
        </g>
    </g>
</svg>
						</div>
						<h3>{{options.newsletter_title}}</h3>
						{{options.newsletter_text}}
					</div><!-- col-container -->
				</div>

				<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 ">
					<div class="col-container text-center">
						<form method="post" action="{{ site.link }}/?na=s" onsubmit="return newsletter_check(this)">

							<input type="hidden" name="nlang" value="">
							<div class="tnp-field tnp-field-email">
								<input class="tnp-email" type="email" name="ne" required placeholder="{{options.email_placeholder}}">
							</div>
							<div class="tnp-field tnp-field-button">
								<svg id="left-arrow" width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

								    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
								            <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
								                <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
								                <path d="M20,10 L0,10" id="Stroke-3"></path>
								            </g>
								        </g>
								    </g>
								</svg>
							<input class="tnp-submit" type="submit" value="{{options.button_text}}">
								<svg id="right-arrow" width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

								    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								        <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
								            <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
								                <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
								                <path d="M20,10 L0,10" id="Stroke-3"></path>
								            </g>
								        </g>
								    </g>
								</svg>
							</div>
						</form>
					</div><!-- col-container -->
				</div>
			</div><!-- row -->
		</div><!-- container-fluid -->
	</div><!-- text-container -->
</div><!-- newsletter-content -->
