{% extends "base.twig" %}


{% block content %}


	

  <article class="newsletter-form-page">
  	
  	<div class="container">
  		<h1 class="text-center">{{options.newsletter_title|striptags}}</h1>
       <h2 class="text-center">{{options.newsletter_text}}</h2>
        <div class="newsletter-block" >
                <div class="form-container">
                  <form method="post" action="{{ site.link }}/?na=s" onsubmit="return newsletter_check(this)">

                    <div class="form-field email-field">
                      <label>{{options.newsletter_email_label}}</label>
                      <input class="tnp-email" type="email" name="ne" required placeholder="{{options.email_placeholder}}">
                    </div>
                    <div class="form-field privacy-field">
                      <input type="checkbox" name="ny" id="ny" required class="tnp-privacy">
                      <label for="ny">{{options.newsletter_privacy}}</label>
                    </div>
                    <div class="form-field submit-field">
                      <input class="tnp-submit medium-btn standard-btn primary-btn" type="submit" value="{{options.button_text}}">
                    </div>
                  </form>
                </div>
      </div><!-- newsletter-block -->
  	</div><!-- container -->

  	
	
	
  </article>



{% endblock %}



{% block extra_js %}
 <script type="text/javascript">

	  jQuery( document ).ready(function() {


	  });



  </script>
{% endblock %}
