{% extends "base.twig" %}


{% block content %}
  
  <section class="page-content resources-page-content">
    <div class="container">
      <h1>{{post.title}}</h1>
      <div class="row">
        <div class="col-lg-10 col-md-12">
          {{post.content}}
        </div>
      </div>
      {% if resources[0] > 0 %}
        <div class=" resources-list">
        {% for resource in resources %}
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-image">
                  <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                      <img src="{{resource.thumbnail.src('medium' )}}" />
                   </div><!-- image-container  -->
                </div><!-- col-image -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-content">
                  <h3>{{resource.title}}</h3>
                  {{resource.content}}
                  <div class="list-links alternate">
                    <a href="{{resource.get_field("external_link")}}" target="_blank">

                      {{post.get_field("external_link_button")}}</a>
                  </div><!-- list-links -->
                </div>
            </div>
            {% endfor %}
        </div>
       {% endif %}

       
    </div><!-- container -->
 </section><!-- page-content -->
{% endblock %}


