{% extends "base.twig" %}


{% block content %}

{% set imageClass = '' %}
  {% if post.thumbnail.width < 960 %}
    {% set imageClass = 'no-image' %}
  {% endif %}
  

<article class="single-article  {{imageClass}}" >
  <div class="container">
    <section class="article-header">
    
      
      <div class="inner-container">
          <h1 class="article-title">{{post.title}}</h1>

         {% if post.thumbnail.width >= 960 %} 
             <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                <img src="{{post.thumbnail.src('large' )}}" />
             </div><!-- image-container  -->
          
            <h2 class="standard-title">{{post.get_preview(-1,false,'')}}</h2>
         
      
          <div class="article-header-footer">
           <div class="row">
            <div class="col-lg-6 col-md-6 ">
             <div class="info">
               <h4 class="standard-subtitle">
                   
                  {% set item_cats = post.terms('category') %}
                  {% if item_cats %}
                    
                    {% for item_cat in item_cats %}
                     <a class="alternative-link" href="{{item_cat.link}}">{{item_cat.description}}</a>
                    {% endfor %}
                  {% endif %}
                  - {{ post.date('d M Y') }}
                  
                    </h4>
              </div><!-- info -->
            </div>
            <div class="col-lg-6 col-md-6 ">
      
                <div class="article-share float-right text-right">
                  <a href="{{fb_url}}" class="facebook rounded-circle" data-social="facebook">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  </a>
                  <a href="{{twitter_url}}" class="twitter rounded-circle" data-social="twitter">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="{{linkedin_url}}" class="linkedin rounded-circle" data-social="linkedin">
                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                  </a>
                </div><!-- article-share -->
            </div><!-- col-content -->
          </div><!-- row -->
        </div><!-- article-header-footer -->
      {% endif %}
       </div><!-- inner-container -->
    </section>


  
  <section class=" article-content">
        {% if post.thumbnail.width < 960 %} 
              <div class="smaller-header">
                <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                    <img src="{{post.thumbnail.src('large' )}}" />
                 </div><!-- image-container  -->
              
                <h2 class="standard-title">{{post.get_preview(-1,false,'')}}</h2>
              </div><!-- smaller-header -->

               <div class="article-header-footer">
                 <div class="row">
                  <div class="col-lg-8 col-md-4 ">
                   <div class="info">
                     <h4 class="standard-subtitle">
                         
                        {% set item_cats = post.terms('category') %}
                        {% if item_cats %}
                          
                          {% for item_cat in item_cats %}
                           <a class="alternative-link" href="{{item_cat.link}}">{{item_cat.description}}</a>
                          {% endfor %}
                        {% endif %}
                        - {{ post.date('d M Y') }}
                        
                          </h4>
                    </div><!-- info -->
                  </div>
                  <div class="col-lg-4 col-md-4 ">
            
                      <div class="article-share float-right text-right">
                             <a href="{{fb_url}}" class="facebook rounded-circle">
                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                          </a>
                          <a href="{{twitter_url}}" class="twitter rounded-circle">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                          </a>
                          <a href="{{linkedin_url}}" class="linkedin rounded-circle">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                          </a>
                      </div><!-- article-share -->
                  </div><!-- col-content -->
                </div><!-- row -->
              </div><!-- article-header-footer -->
            {% endif %}
  


      <div class="standard-txt">

            {{post.content}}
      </div><!-- standard-txt -->

      <div class="article-footer">
         <div class="row">
        <div class="col-lg-6 col-md-6">
          
          <div class="article-share">
            <h4 class="standard-subtitle">{{options.share_this_news_label}}</h4>
                   <a href="{{fb_url}}" class="facebook rounded-circle">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
                <a href="{{twitter_url}}" class="twitter rounded-circle">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="{{linkedin_url}}" class="linkedin rounded-circle">
                  <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                </a>
            </div><!-- article-share -->
        </div><!-- col-content -->
        {% if options.footer_socials %}
        <div class="col-lg-6 col-md-6">
            <div class="article-follow float-right text-right">
                <h4 class="standard-subtitle">{{options.follow_bamboo_label}}</h4>
             <div class="footer-right ">
                {% for button in options.footer_socials %}

                  {% set href = button.social_link %}
                  
                  <a href="{{href}}" target="_blank">
                    <i class="fab fa-{{button.social_icon}}"></i>
                  </a>
                    
                {% endfor %}
              </div><!-- footer-right -->
            
            </div><!-- article-follow -->
             
         </div><!-- col-content -->
         {% endif %}
      </div><!-- row -->
      </div><!-- article-footer -->
     
  </section>

   {% if featured_articles[0] %}
      <section class="updates">
          <h2 class="standard-title">{{options.recents_updates_label}}</h2>
          <div class="row">
            
              {% set counter = 0 %}
              {% for article in featured_articles %}
                <div class="col-lg-6 col-md-6">
                <a class="article-preview-small" href="{{article.link}}" >
                  <div class="image-wrapper ">
    
                      <div class="image-container imgLiquid imgLiquidFill"  data-imgLiquid-fill="true" data-imgLiquid-horizontalAlign="center" data-imgLiquid-verticalAlign="50%">
                        <img  src="{{article.thumbnail.src('medium' )}}" />
                      </div><!-- image-container -->
                    </div><!-- image-wrapper -->
                    <div class="info-wrapper">
                      <h3 class="standard-title">{{article.title}}</h3>
                      <span >
                      
                      {{featured_article_subtitles[counter]}}
                      </span>
                      </div>

                  </a><!-- article-preview -->
                </div><!-- col -->
                {% set counter = counter + 1 %}
              {% endfor %}
            
    
          </div> <!-- row -->   
                 
       </section> <!-- updates -->
 
  {% endif %}
  </div><!-- container -->
</article><!-- single-article -->

{% endblock %}


