{% extends "base.twig" %}


{% block content %}


      <article class="single-demo" id="{{post.id}}">
        <div class="single-demo-jumbo">
          <div class="jumbo-container">
            <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
              <img src="{{TimberImage(post.thumbnail).src}}" />
            </div><!-- image-container  -->
            <div class="text-container">
              <div class="container-fluid">
                <div class="inner-container text-center">
                  <div class="icon">
                    {{post.icon_code_svg}}
                  </div>
                   <h2 class="fake-h1">
                  {{post.title}}
                  </h2>
                  <h3 class="fake-h2">{{post.get_field("subtitle")}}</h3>

                </div><!-- inner-container -->
               <svg width="54px" height="56px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="arrow-big" class="arrow">
                <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
          
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Artboard" transform="translate(-59.000000, -34.000000)" stroke="#00AB84" stroke-width="7">
                          <g id="freccia-7px" transform="translate(59.000000, 37.000000)">
                              <polyline id="Stroke-1" points="22 0 48.7791831 25 22 50"></polyline>
                              <path d="M50,25 L0,25" id="Stroke-3"></path>
                          </g>
                      </g>
                  </g>
              </svg>
              </div>
            </div><!-- text-container -->
          </div><!-- jumbo-container -->
        </div><!-- single-demo-jumbo -->
        <section class="section-container standard-text-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-image  scroll-on-fixed">
                <div class="col-container">
                  <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                    <img src="{{TimberImage(post.get_field('main_image')).src('large')}}" />
                  </div><!-- image-container  -->
                  
                  <h3>{{post.get_preview(50,false,'')}}</h3>
                </div><!-- col-container -->
              </div><!-- col-image -->
              <div class="col-xl-6 col-lg-6 col-content " id="col-check-height">
                <div class="standard-txt">
                  {{post.content}}
                </div><!-- standard-txt -->
                {% if post.get_field("links") %}
                    <div class="list-links alternate">
                      {% for link in post.get_field("links") %}

                        {% set href = link.link_external %}
                        {% set target = '_blank' %}
                        {% if href == '' %}
                          {% set href = link.link_internal %}
                          {% set target = '_self' %}
                        {% endif %}
                        <a href="{{href}}" target="{{target}}">
                         <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                            <title>freccia-3px</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                                    <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                        <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                        <path d="M20,10 L0,10" id="Stroke-3"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                         <span>{{link.link_text}}</span>
                        </a>
                          
                      {% endfor %}
                    </div><!-- list-links alternate -->
                  {% endif %}
              </div><!-- col-content -->
            </div>
          </div><!-- container -->
        </section><!-- section-container -->

      </article><!-- single-demo -->

{% endblock %}

{% block extra_js %}

  <script>
  jQuery( document ).ready(function() {
   jQuery(".navbar-nav .nav-item.menu-item-40").addClass("current-menu-item");   
  });
  </script>
{% endblock %}
