{% extends "base.twig" %}


{% block content %}

{% set imageClass = '' %}
  {% if is_single_event %}
    {% set imageClass = 'no-image' %}
  {% endif %}
  

<article class="single-article  {{imageClass}} single-event" >
  <div class="container">
    <section class="article-header">
    
      
      <div class="inner-container">
          <h1 class="article-title">{{post.title}}</h1>

       </div><!-- inner-container -->
    </section>


  
  <section class=" article-content">
              <div class="smaller-header">
                <div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
                    <img src="{{post.thumbnail.src('large' )}}" />
                 </div><!-- image-container  -->
              
                <h2 class="standard-title">{{post.get_preview(-1,false,'')}}</h2>

                <div class="list-links alternate">
                  <a href="{{google_calendar}}" target="_blank">
                   <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                              <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                  <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                  <path d="M20,10 L0,10" id="Stroke-3"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                   <span>{{options.add_calendar_label}}</span>
                  </a>
                  <a href="{{iCal}}" target="_blank">
                   <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Artboard" transform="translate(-26.000000, -50.000000)" stroke="#00AB84" stroke-width="3">
                              <g id="freccia-3px" transform="translate(26.000000, 52.000000)">
                                  <polyline id="Stroke-1" points="9 0 19.7116732 10 9 20"></polyline>
                                  <path d="M20,10 L0,10" id="Stroke-3"></path>
                              </g>
                          </g>
                      </g>
                  </svg>
                   <span>{{options.export_ical_label}}</span>
                  </a>

              </div><!-- list-links -->


              </div><!-- smaller-header -->

               <div class="article-header-footer">

                   <div class="info">
                     <h4 class="standard-subtitle">
                         
                        {% if getEventLocationSingle %}
                         {{getEventLocationSingle}}
                        {% endif %}

                          {{getEventDateSingle}}
                        
                          </h4>
                    
                </div><!-- info -->
              </div><!-- article-header-footer -->

  


      <div class="standard-txt">

            {{post.content}}
      </div><!-- standard-txt -->

      <div class="article-footer">
         <div class="row">
        <div class="col-lg-6 col-md-6">
          
          <div class="article-share">
            <h4 class="standard-subtitle">{{options.share_events_label}}</h4>
                   <a href="{{fb_url}}" class="facebook rounded-circle" data-social="facebook">
                  <i class="fab fa-facebook-f" aria-hidden="true"></i>
                </a>
                <a href="{{twitter_url}}" class="twitter rounded-circle" data-social="twitter">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="{{linkedin_url}}" class="linkedin rounded-circle" data-social="linkedin">
                  <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                </a>
            </div><!-- article-share -->
        </div><!-- col-content -->
        {% if options.footer_socials %}
        <div class="col-lg-6 col-md-6">
            <div class="article-follow float-right text-right">
              <h4 class="standard-subtitle">{{options.follow_bamboo_label}}</h4>
              
             <div class="footer-right ">
                {% for button in options.footer_socials %}

                  {% set href = button.social_link %}
                  
                  <a href="{{href}}" target="_blank">
                    <i class="fab fa-{{button.social_icon}}"></i>
                  </a>
                    
                {% endfor %}
              </div><!-- footer-right -->
            
            </div><!-- article-follow -->
             
         </div><!-- col-content -->
         {% endif %}
      </div><!-- row -->
      </div><!-- article-footer -->
     
  </section>

   {% if featured_articles[0] %}
      <section class="updates">
          <h2 class="standard-title">{{options.recents_updates_label}}</h2>
          <div class="row">
            
              {% set counter = 0 %}
              {% for article in featured_articles %}
                <div class="col-lg-6 col-md-6">
                <a class="article-preview-small" href="{{article.link}}" >
                  <div class="image-wrapper ">
    
                      <div class="image-container imgLiquid imgLiquidFill"  data-imgLiquid-fill="true" data-imgLiquid-horizontalAlign="center" data-imgLiquid-verticalAlign="50%">
                        <img  src="{{article.thumbnail.src('medium' )}}" />
                      </div><!-- image-container -->
                    </div><!-- image-wrapper -->
                    <div class="info-wrapper">
                      <h3 class="standard-title">{{article.title}}</h3>
                      <span >
                      
                      {{featured_article_subtitles[counter]}}
                      </span>
                      </div>

                  </a><!-- article-preview -->
                </div><!-- col -->
                {% set counter = counter + 1 %}
              {% endfor %}
            
    
          </div> <!-- row -->   
                 
       </section> <!-- updates -->
 
  {% endif %}
  </div><!-- container -->
</article><!-- single-article -->

{% endblock %}


