{% extends "base.twig" %}


{% block content %}
  

 <section class="page-content ">
    <div class="container">
      <div class="txt-container">
        <h1 class="standard-title">{{post.title}}</h1>
        <div class="standard-page-content">
          <div class="standard-txt">
          {{post.content}}
           </div>
        </div>
        
       
      </div><!-- txt-container -->

      
     
    </div>

  </section><!-- page-content -->

  
{% endblock %}



{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {

  });
  </script>
{% endblock %}
