{% extends "base.twig" %}


{% block content %}


<section class="archive-news-section">
    <div class="container-fluid">

      <h1 class="standard-title">{{cat_title}}</h1>


      {% if total > 0 %}
        <div class="news-masonry tax-archive" >
             <div class="row">
               <div class="col-lg-6 col-md-12 ">
                  <h3 class="fake-h2">{{options.recents_updates_label}}</h3>
                </div><!-- col -->
                <div class="col-lg-6 col-md-12 ">
                  {% if news_category %}
                        <div class="filter-container float-right text-right">



                          {% for news_cat in news_category %}
                            {% set disableClass = '' %}
                            {% if news_cat.id == term_id %}
                              {% set disableClass = 'disabled' %}
                            {% endif %}
                            <a href="{{news_cat.link}}" data-term="{{news_cat.id}}" class="alternative-link {{disableClass}}">
                                {{news_cat.name}}
                            </a>
                          {% endfor %}
                        </div><!-- filter-container -->
                    {% endif %}
                </div><!-- col -->
             </div><!-- row -->

            <div class="row news-archive-list">
              {{load_news_from_php_temporary}}
            </div><!-- row -->
            

         
        </div><!-- news-masonry -->
      <span class="ajax-url-span invisible d-none">{{adminurl}}</span>
    {% endif %}
  </div><!-- container -->
 </section><!-- page-content -->


{% endblock %}



{% block prefooter %}
{% endblock %}


{% block extra_js %}
  <script>
  jQuery( document ).ready(function() {
   jQuery(".navbar-nav .nav-item.menu-item-39").addClass("current-menu-item");   
  });
  </script>
{% endblock %}
