{% extends "base.twig" %}


{% block content %}





  {% if total > 0 %}
    <section class="technicals-container list-container-filter-pagination">
      <div class="container-fluid">
        <h1 class="standard-title">{{post.title}}</h1>
        <div class="row">

        {% if categories %}
          <div class="col-lg-4 col-md-12 col-filter ">
            <h3 class="fake-h2">{{options.categories_label}}</h3>


                <div class="filter-container">
                  <button type="button" data-term="0" class="alternative-link disabled">
                      {{options.all_documents_label}}
                  </button>
                  {% for category in categories %}
                  <button type="button" data-term="{{category.id}}" class="alternative-link">
                      {{category.name}}
                  </button>
                  {% endfor %}
                </div><!-- filter-container -->

          </div><!-- col-filter -->
          {% endif %}

          <div class="col-lg-8 col-md-12 col-list">
          {{load_technicals_from_php_temporary}}
          </div><!-- col-list -->
        </div><!-- row -->
      </div><!-- container -->
    </section>
  {% else %}
    <section class="events-container empty-resources">
      <div class="container">
            <div class="no-events-intro row">
              <div class="col-lg-10 col-md-12">
                <h3 class="fake-h2">{{options.no_technicals_label}}</h3>
                <p class="standard-txt">
                  {{options.no_technicals_text}}
                </p>
              </div>
            </div><!-- no-events-intro -->
     


      </div><!-- container -->
    </section>
  {% endif %}


  <span class="ajax-url-span invisible d-none">{{adminurl}}</span>
{% endblock %}

{% block prefooter %}
{% endblock %}
