<div class="jumbo {{single_demos_class}}">
	<div class="jumbo-container">
		<div class="image-container imgLiquidFill imgLiquid" data-imgLiquid-horizontalAlign="center"  data-imgLiquid-verticalAlign="center" data-imgLiquid-fill="true">
            <img src="{{post.thumbnail.src('full' )}}" />
        </div><!-- image-container  -->
		<div class="text-container">
			<div class="container-fluid">
				<h1 data-lining>{{post.get_field("alternative_title")}}</h1>
				<h2>{{post.get_field("page_subtitle")}}</h2>
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="54px" height="56px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="arrow">

				    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="Artboard" transform="translate(-59.000000, -34.000000)" stroke="#00AB84" stroke-width="7">
				            <g id="freccia-7px" transform="translate(59.000000, 37.000000)">
				                <polyline id="Stroke-1" points="22 0 48.7791831 25 22 50"></polyline>
				                <path d="M50,25 L0,25" id="Stroke-3"></path>
				            </g>
				        </g>
				    </g>
				</svg>
				<div class="arrow-line"></div><!-- line -->
			</div>
		</div><!-- text-container -->
	</div><!-- jumbo-container -->
</div><!-- jumbo -->